<div class="row">
  <div class="large-12 columns">
    <%= simple_form_for @provider do |f| %>
      <% if @provider.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@provider.errors.count, "error") %> prohibited this department from being saved:</h2>
          <ul>
          <% @provider.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.input :name %>  
      <%= f.input :address %>
      <%= f.input :phone_number %>
      <table class="table table-hover datatable small-12 twelve" id="provider-users">
      <thead>
        <tr>
          <th width="100">Add to Provider</th>
          <th width="300">Name</th>
          <th width="300">Email</th>
        </tr>
      </thead>
      <tbody>
        <% for user in User.all %>
        <tr>
          <% if ProvidersUser.exists?(provider_id: @provider.id, user_id: user.id) %>
            <td><%= check_box "provider_user[user_ids]", user.id, :class => 'table-row-checkbox member', data: { "userid": user.id }, checked: true %></td>
          <% else %>
            <td><%= check_box "provider_user[user_ids]", user.id, :class => 'table-row-checkbox member', data: { "userid": user.id } %></td>
          <% end %>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
      
      <%= f.submit class: "button" %>

    <% end %> 
  </div>
</div>