<div class="row">
  <div class="pageHeader small-12 large-12 columns">
    <span class="pageTitle large-9 columns">
      <h2>Providers</h2>
    </span>
  </div>
</div>
<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <%= link_to "New Provider", new_provider_path, class: "button primary" %>
    <table>
      <thead>
        <th>Name</th>
        <th>Address</th>
        <th>Phone Number</th>
      </thead>
      <% @providers.all.each do |p| %>
      <tbody>
        <tr>
          <td><%= link_to p.name, provider_path(p.id) %></td>
          <td><%= p.address %></td>
          <td><%= p.phone_number %></td>
          <td><%= link_to_if(can?(:edit, Provider), "Edit", edit_provider_path(p.id), :class => 'button secondary tiny') %></td>
        </tr>
      </tbody>
      <% end %>
    </table>  
  </div>
</div>
