<%= simple_form_for [ @plan, @communication_plan ] do |f| %>
  <div class="row">
    <div class="small-12 columns">
      <% if @communication_plan.errors.any? %>
        <div id="error_explanation" class="panel callout">
          <h2><%= pluralize(@communication_plan.errors.count, "error") %> prohibited this communications plan from being saved:</h2>
          <ul>
            <% @communication_plan.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
  <div class="row">
    <div class="small-5 columns command-select">
      <h5>Will there be a unified command?</h5>
      <%= radio_button_tag 'command', 'yes', false, class: 'command-radio' %>&nbsp;Yes</br>
      <%= radio_button_tag 'command', 'no', false, class: 'command-radio' %>&nbsp;No
    </div>
    <div class="small-5 columns command-list">
      <%= render "supplementary_documents/contact_list", parent: @communication_plan %>
    </div>
  </div>
    <div class="large-5 columns input_label">
      <h2>Event Coordinator</h2><%= check_box_tag "N/A", "na", false, class: "na-check" %>&nbsp;N/A
      <%= f.input :event_coordinator_name %>
      <%= f.input :event_coordinator_phone %>
      <%= f.input :event_coordinator_email %>
      <%= f.input :event_coordinator_organization,
                              collection: OrganizationType.find_providers,
                              label_method: :name,
                              value_method: :id,
                              include_blank: false %>
    </div>
    <div class="large-5 large-offset-1 end columns input_label">
      <h2>Event Supervisor</h2><%= check_box_tag "N/A", "na", false, class: "na-check" %>&nbsp;N/A
      <%= f.input :event_supervisor_name %>
      <%= f.input :event_supervisor_phone %>
      <%= f.input :event_supervisor_email %>
      <%= f.input :event_supervisor_organization,
                              collection: OrganizationType.find_providers,
                              label_method: :name,
                              value_method: :id,
                              include_blank: false %>
    </div>
  </div>
  <div class="row">
    <div class="large-5 columns input_label">
      <h2>Dispatch Supervisor</h2><%= check_box_tag "N/A", "na", false, class: "na-check" %>&nbsp;N/A
      <%= f.input :dispatch_supervisor_name %>
      <%= f.input :dispatch_supervisor_phone %>
      <%= f.input :dispatch_supervisor_email %>
      <%= f.input :dispatch_supervisor_organization,
                              collection: OrganizationType.find_providers,
                              label_method: :name,
                              value_method: :id,
                              include_blank: false %>
    </div>
    <div class="large-5 large-offset-1 end columns input_label">
      <h2>Med Group Supervisor</h2><%= check_box_tag "N/A", "na", false, class: "na-check" %>&nbsp;N/A
      <%= f.input :medical_group_supervisor_name %>
      <%= f.input :medical_group_supervisor_phone %>
      <%= f.input :medical_group_supervisor_email %>
      <%= f.input :medical_group_supervisor_organization,
                              collection: OrganizationType.find_providers,
                              label_method: :name,
                              value_method: :id,
                              include_blank: false %>
    </div>
  </div>
  <div class="row">
    <div class="large-5 columns input_label">
      <h2>Triage Supervisor</h2><%= check_box_tag "N/A", "na", false, class: "na-check" %>&nbsp;N/A
      <%= f.input :triage_supervisor_name %>
      <%= f.input :triage_supervisor_phone %>
      <%= f.input :triage_supervisor_email %>
      <%= f.input :triage_supervisor_organization,
                              collection: OrganizationType.find_providers,
                              label_method: :name,
                              value_method: :id,
                              include_blank: false
                              %>
    </div>
    <div class="large-5 large-offset-1 end columns input_label">
      <h2>Transport Supervisor</h2><%= check_box_tag "N/A", "na", false, class: "na-check" %>&nbsp;N/A
      <%= f.input :transport_supervisor_name %>
      <%= f.input :transport_supervisor_phone %>
      <%= f.input :transport_supervisor_email %>
      <%= f.input :transport_supervisor_organization,
                              collection: OrganizationType.find_providers,
                              label_method: :name,
                              value_method: :id,
                              include_blank: false %>
    </div>
  </div>
  <div class="row">
    <div class="large-5 columns input_label">
      <h2>Non-Transport Supervisor</h2><%= check_box_tag "N/A", "na", false, class: "na-check" %>&nbsp;N/A
      <%= f.input :non_transport_supervisor_name %>
      <%= f.input :non_transport_supervisor_phone %>
      <%= f.input :non_transport_supervisor_email %>
      <%= f.input :non_transport_supervisor_organization,
                              collection: OrganizationType.find_providers,
                              label_method: :name,
                              value_method: :id,
                              include_blank: false %>
    </div>
  </div>
  <div class="row asset-comms">
    <div class="small-12 columns">
      <h2>Asset Communication</h2>
      <% @plan.operation_periods.each do |op| %>
        <div class="row">
          <div class="large-12 columns">
            <h3><strong><%= op.formatted_start_date %>&nbsp;<%= op.formatted_start_time %></strong>&nbsp; Operation Period</h3>
          </div>
          <div class="large-3 columns">
            <h4>First Aid Stations</h4>
            <% op.first_aid_stations.each do |asset| %>
              <h5><%= asset.name %></h5>
              <% asset.asset_communications.each do |comms| %>
                <p><%= comms.communication.name unless comms.communication.blank? %></p>
                <p>Frequency or Phone Number: <%= comms.description %></p>
              <% end %>
              <%= link_to "javascript:void(0)", class: "button tiny radius communication-toggle", label: false do %>
                <i class="fi-plus"></i> Add Communication Channel
              <% end %>
              <div id="update-first-aid-station" class="first-aid-station-form communication-form" data-url="<%= url_for([ op, asset ]) %>" >
                <%= simple_fields_for "first_aid_station" do |a| %>
                  <div class="communications">
                    <%= render 'plans/asset_communications', a: a %>
                  </div>
                <%= link_to "Update", "javascript:void(0)", class: "update-first-aid-station button primary" %>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="large-3 columns">
            <h4>Mobile Teams</h4>
            <% op.mobile_teams.each do |asset| %>
              <h5><%= asset.name %></h5>
              <% asset.asset_communications.each do |comms| %>
                <p><%= comms.communication.name unless comms.communication.blank? %></p>
                <p>Frequency or Phone Number: <%= comms.description %></p>
              <% end %>
              <div id="update-mobile_team" class="mobile_team-form communication-form" data-url="<%= url_for([ op, asset ]) %>" >
                <%= simple_fields_for "mobile_team" do |a| %>
                  <div class="communications">
                    <%= render 'plans/asset_communications', a: a %>
                  </div>
                <%= link_to "Update", "javascript:void(0)", class: "update-mobile_team button primary" %>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="large-3 columns dispatch">
            <h4>Dispatch</h4>
            <% op.dispatchs.each do |asset| %>
              <h5><%= asset.name %></h5>
              <% asset.asset_communications.each do |comms| %>
                <p><%= comms.communication.name unless comms.communication.blank? %></p>
                <p>Frequency or Phone Number: <%= comms.description %></p>
              <% end %>
              <div id="update-dispatch" class="dispatch-form communication-form" data-url="<%= url_for([ op, asset ]) %>" >
                <%= simple_fields_for "dispatch" do |a| %>
                  <div class="communications">
                    <%= render 'plans/asset_communications', a: a %>
                  </div>
                <%= link_to "Update", "javascript:void(0)", class: "update-dispatch button primary" %>
                <% end %>
              </div>
            <% end %>

          </div>
          <div class="large-3 columns">
            <h4>Transports</h4>
            <% op.transports.each do |asset| %>
              <h5><%= asset.name %></h5>
              <% asset.asset_communications.each do |comms| %>
                <p><%= comms.communication.name unless comms.communication.blank? %></p>
                <p>Frequency or Phone Number: <%= comms.description %></p>
              <% end %>
              <div id="update-transport" class="transport-form communication-form" data-url="<%= url_for([ op, asset ]) %>" >
                <%= simple_fields_for "transport" do |a| %>
                  <div class="communications">
                    <%= render 'plans/asset_communications', a: a %>
                  </div>
                <%= link_to "Update", "javascript:void(0)", class: "update-transport button primary" %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
      
  <div class="row">
    <div class="small-12 columns buttons">
      <br><br>
      <%= f.submit "SAVE", class: "button" %>
    </div>
  </div>
<% end %>
