<div id="communication-plan">
  <div class="row">
      <div class="large-10 columns pageTitle">
      <h1><%= @plan %> COmmunications</h1>
      <p><strong><%= link_to "<< Back to Plan", @plan %></strong>  &nbsp;&nbsp;&nbsp;  <em>UPDATED: <%= @plan.updated_at.strftime("%D %l:%M %P") %></em><p/>
      </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
        <% if user_signed_in? %>
          <%= render "form" %>
        <% else %>
          <%= render "public", plan: @plan %>
        <% end %>
    </div>
  </div>
</div>
