<div class="comment-area" id="comment-<%= comment.id %>">

  <% if comment.open? %>
    
    <h5>"<%= comment.body %>"</h5>

    <div class="comment-header">
      <%= render partial: "comments/byline", locals: { comment: comment } %>
    </div>
    
    <% comment.children.each do |child| %>
      <div class="comment-reply">
        <h5><%= child.body %></h5>
        <%= render partial: "comments/byline", locals: { comment: child } %>
      </div>
    <% end %>

    <div class="row" style="margin-top: 1em">
      <div class="small-12 columns" style="margin-left: 0.5em">
        <div class="reply-form" data-url="<%= comment_replies_url(comment) %>">
          <textarea name="comment[body]" rows="2" style="margin-bottom: 0.5em"></textarea>
          <%= link_to "REPLY", "javascript:void(0);", class: "button warning tiny radius reply" %>
          <%= link_to "RESOLVE", [ comment, comment: { open: false } ], method: "PUT", class: "button secondary radius tiny", remote: true %>
        </div>
      </div>
    </div>
    
  <% else %>
    <p>
      Comment resolved.
      <%= link_to "Undo", [ comment, comment: { open: true } ], method: "PUT", remote: true %>
    </p>
  <% end %>
  
</div>
