<div class="comment-area" data-comment-id="<%= comment.id %>">
  
  <h5>"<%= comment.body %>"</h5>

  <div class="comment-header">
    <%= render partial: "comments/byline", locals: { comment: comment } %>
  </div>
  
  <% comment.children.each do |child| %>
    <div class="comment-reply">
      <h5><%= child.body %></h5>
      <%= render partial: "comments/byline", locals: { comment: child } %>
    </div>
  <% end %>

  <div class="row" style="margin-top: 1em">
    <div class="small-8 columns" style="margin-left: 0.5em">
      <%= simple_form_for Comment.new, url: [ comment, :replies ], remote: true do |f| %>
        <%= f.input :body, label: false, cols: 10, rows: 1, input_html: { style: "margin-bottom: 0.5em" } %>
        <%= f.submit "REPLY", class: "button warning tiny radius" %>
        <%= link_to "RESOLVE", [ comment, comment: { open: false } ], method: "PUT", class: "button secondary radius tiny" %>
      <% end %>
    </div>
  </div>
</div>
