<div class="row">
  <div class="small-8 small-centered columns">
    <h1>Outstanding Comments</h1>
    <p>
      <%= pluralize(@plans_with_outstanding_comments.total_count, "plan" ) %>
      with outstanding comments.
    </p>

    <%= paginate @plans_with_outstanding_comments %>

    <% @plans_with_outstanding_comments.each do |plan| %>

      <div class="plan" style="margin-bottom: 2em">
        <h2><%= plan.name %> <small><%= link_to "View plan", plan, target: "_blank" %></small></h2>

        <ul class="accordion" data-accordion>
          <li class="accordion-navigation">

            <%= link_to "#plan-panel-#{plan.id}" do %>
              <%= pluralize(plan.root_comments.select(&:open?).count, "comment") %>
            <% end %>

            <div id="plan-panel-<%= plan.id %>" class="content">
              <% plan.root_comments.select(&:open?).each do |thread| %>
                <%= render "thread", root_comment: thread %>
              <% end %>
            </div>

          </li>
        </ul>
      </div>
    <% end %>

    <%= paginate @plans_with_outstanding_comments %>
    
  </div>
</div>
