<div id="post-event-treatment-report">
  <div class="row">
    <div class="large-12 columns">
      <div class="large-7 columns pageTitle">
        <h1><%= link_to @plan.name, @plan %></h1>
      </div>
      <div class="large-3 columns text-right pageTitle">
        <p><em>UPDATED: <%= @plan.updated_at.strftime("%D %l:%M %P") %></em></p>
      </div>
    </div>
  </div>
  <%= render "plans/plan_state" %>
  <div class="row">
    <div class="large-12 columns">

      <% if @post_event_treatment_report.submitted? %>
        <%= render @post_event_treatment_report %>
      <% else %>
        <% if user_signed_in? %>
          <%= render "form" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
