<% hidden = true unless hidden == false %>
<div class="permitter <%= "hidden" if hidden %>" data-permitter-id="<%= permitter.id %>">
  <p>
    <% if !hidden %>
      <span class="name">
        <%= permitter.name %>
        <br/>
      </span>
    <% end %>

    <span class="email">
      <i class="fi-mail"></i>
      <% if permitter.email %>
        <%= mail_to(permitter.email, nil, target: "_blank") %>
      <% else %>
        "(email missing)" %>
      <% end %>
      <br/>
    </span>

    <span class="phone-number">
      <i class="fi-telephone"></i>
      <%= permitter.phone_number || "(phone number missing)" %>
    </span>
  </p>
</div>

