<div class="row">
  <div class="pageHeader small-12 large-12 columns">
    <span class="pageTitle large-9 columns">
      <h2><%= @notification_group.name %></h2>
      <p><%= @notification_group.description %></p>
    </span>
  </div>
</div>
<div class="row spacing">
  <div class="large-7">
    <%= simple_form_for @notification_group do |f| %>
      
      <table class="table table-hover datatable small-12 twelve" id="organization-users">
        <thead>
          <tr>
            <th width="100">Add to Notification Group</th>

            <th width="300">Name</th>
            <th width="300">Email</th>
            <th width="100">Role</th>
          </tr>
        </thead>
        <tbody>
          <% User.all.each do |user| %>
            <%= f.simple_fields_for :notification_group_memberships, @notification_group.notification_group_memberships.detect{|x| x.user_id == user.id } || @notification_group.notification_group_memberships.build(user: user) do |g| %>
              <tr>
                <td>
                  <%= g.hidden_field :user_id %>
                  <%= g.check_box :_destroy, { checked: g.object.persisted? }, "0", "1" %>
                </td>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.role %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      
      <%= f.submit class: "button" %>
    <% end %>
    <%= link_to '< Back', :admin %>
  </div>
</div>
