<nav class="top-bar" data-topbar>
  <ul class="title-area">
      <li><%= link_to 'SAN FRANCISCO EVENT PLANS', root_path, class: 'name' %></li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li>
        <%= link_to "Plan Archive", plans_path %>
      </li>
      <li>
        <%= link_to "New Plan", new_plan_path %>
      </li>
      <% if user_signed_in? %>
        <li><%= link_to "Welcome, #{current_user.email}", edit_user_path(current_user.id) %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Login", new_user_session_path %></li>
      <% end %>
    </ul>
  </section>
</nav>
