<nav class="top-bar" data-topbar>
  <ul class="title-area">
      <li class="name"><%= link_to 'SAN FRANCISCO MEDICAL EVENT PLANS', root_path %></li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li>
        <%= link_to "Plan Archive", plans_path %>
      </li>
      <li>
        <% if user_signed_in? %>
          <%= link_to "New Plan", new_plan_path %>
        <% end %>
      </li>
      <% if user_signed_in? %>
        <li><%= link_to "Welcome, #{current_user}", edit_user_registration_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign In", new_user_session_path %></li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <% end %>
    </ul>
  </section>
</nav>
