<div class="landing">
<div class="row">
  <div class="large-12 columns pageTitle">
    <h1>SAN FRANCISCO EVENT PLANS</h1>
  </div>  
  <div class="large-4 columns">
    <div class="main-section">
      <div class="learn-more-landing">
      </div>              
      <h2><i class="fi-info"></i> &nbsp;Learn More</h2>
    </div>
  </div>  
  <div class="large-4 columns">
    <div class="main-section">
      <div class="browse-landing">
      </div>      
      <%= link_to plans_path do %>
        
          <h2><i class="fi-magnifying-glass"></i> &nbsp;Browse Plans</h2>
            
      <% end %>
    </div>   
  </div>
  <div class="large-4 columns">
    <div class="main-section">
      <div class="new-plan-landing">
      </div>
      <%= link_to new_plan_path do %>
        
        <h2><i class="fi-plus"></i> &nbsp;New Plan</h2> 
      <% end %>
    </div>         
  </div>            
</div>
<div class="row secondary-section">
  <div class="large-7 medium-8 small-12 columns">
      <h4>Zombie ipsum brains reversus ab cerebellum viral inferno, brein nam rick mend grimes malum cerveau cerebro. De carne cerebro lumbering animata cervello corpora quaeritis. Summus thalamus brains sit​​, morbo basal ganglia vel maleficia? De braaaiiiins apocalypsi gorger omero prefrontal cortex undead survivor fornix dictum mauris. Hi brains mindless mortuis limbic cortex soulless creaturas optic nerve, imo evil braaiinns stalking monstra. </h4>
  </div>
  <div class="large-5 columns">
    <%= month_calendar td: {class: "day"}, events: @operation_period do |date, op| %>
      <%= date.day %>
      <% if op.count > 0 %>
        <div class="day-op <%= op.count >= 5 ? 'day-alert' : 'day-normal' %>">
          <span data-tooltip aria-haspopup="true" class="has-tip" title="<%= op.map.each do |p| p.plan.present? ? p.plan.name : "no name" end %>"><%= op.count %></span>
        </div>
      <% else %>
        <div>
          <span data-tooltip aria-haspopup="true" class="has-tip" title="This is a tooltip">&nbsp;</span>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
</div>