<div class="landing">
  <div class="large-12 columns">
    <div id="homepage-hero">
      <div class="row">
        <div class="large-3 columns">
        <%= link_to learn_more_path do %>
          <div class="main-section">
            <i class="fi-info"></i>
            <h2>Learn More</h2>
          </div>
        <% end %>
        </div>
        <div class="large-5 columns">
          <%= link_to new_plan_path do %>
            <div class="main-section">
              <i class="fi-plus"></i>
              <h2>New Plan</h2>
            </div>
          <% end %>
        </div>
        <div class="large-3 columns end">
          <%= link_to plans_path do %>
            <div class="main-section">
              <i class="fi-magnifying-glass"></i>
              <h2>View Plans</h2>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row secondary-section">
    <div class="large-7 medium-8 small-12 columns welcome-text">
      <h2>Welcome</h2>
      <h4>Welcome to the Special Event Medical Planning page for the SF Department of Emergency Management!  This site will guide you through the complete medical planning process, for Special Events and Mass Gatherings within the City and County of San Francisco.  From this platform, you will be able to create comprehensive plans that will ensure a safer environment for your attendees and participants.  It includes resources such as event calendars, Policy references, previously approved medical plans, as well as contact numbers for the Permitting Agencies and Service Providers for San Francisco.  Through this platform, all approved medical plans will be available for public review, and a searchable database will be created, to assist with planning of future events.</h4>
    </div>
    <div class="large-5 columns">
      <%= month_calendar attribute: :start_date_time, td: {class: "day"}, events: @operation_period do |date, op| %>
        <% if date.present? %>
          <%= date.day %>
          <% if op.count > 0 %>
          <% plan_names = [] %>
          <% unique_id = SecureRandom.hex(16) %>
          <% op.map{ |p|
              if p.plan.present?
                plan_names << p.plan.name unless p.plan.name.blank?
              end
                }
            %>
            <div class="day-op <%= op.count >= 5 ? 'day-alert' : 'day-normal' %>">
              <button href="#" data-dropdown="drop_<%= unique_id %>" aria-controls="drop1" aria-expanded="false" class="button dropdown small landing-dropdown"><%= op.count %></button><br>
                <ul id="drop_<%= unique_id %>" data-dropdown-content class="f-dropdown" aria-hidden="true">
                <% plan_names.each do |name| %>
                  <li><%= link_to name, plan_path(Plan.find_by_name(name)) %></li>
                <% end %>
                </ul>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
