<div class="landing">
  <div id="homepage-hero">
  <div class="row">
    <div class="large-4 columns">
      <%= link_to new_plan_path do %>
        <div class="main-section">
          <i class="fi-plus"></i>
          <h2>New Plan</h2> 
        </div>         
      <% end %>        
    </div>      
    <div class="large-4 columns">
      <%= link_to plans_path do %>
        <div class="main-section">     
          <i class="fi-magnifying-glass"></i>
          <h2>Browse Plans</h2>
        </div>  
      <% end %> 
    </div> 
    <div class="large-4 columns">
      <div class="main-section">
        <i class="fi-info"></i>                  
        <h2>Learn More</h2>
      </div>
    </div>               
  </div>
  </div>
  <div class="row secondary-section">
    <div class="large-7 medium-8 small-12 columns">
        <h4>Zombie ipsum brains reversus ab cerebellum viral inferno, brein nam rick mend grimes malum cerveau cerebro. De carne cerebro lumbering animata cervello corpora quaeritis. Summus thalamus brains sit​​, morbo basal ganglia vel maleficia? De braaaiiiins apocalypsi gorger omero prefrontal cortex undead survivor fornix dictum mauris. Hi brains mindless mortuis limbic cortex soulless creaturas optic nerve, imo evil braaiinns stalking monstra. </h4>
    </div>
    <div class="large-5 columns">
      <%= month_calendar attribute: :start_date, td: {class: "day"}, events: @operation_period do |date, op| %>
        <% if date.present? %>
          <%= date.day %>
          <% if op.count > 0 %>
          <% plan_names = [] %>
          <% op.map{ |p| 
              if p.plan.present? 
                plan_names << p.plan.name 
              end
                }
            %>
            <div class="day-op <%= op.count >= 5 ? 'day-alert' : 'day-normal' %>">
              <span data-tooltip aria-haspopup="true" class="has-tip" title="<%= p plan_names %>"><%= op.count %></span>
            </div>
          <% else %>
            <div>
              <span data-tooltip aria-haspopup="true" class="has-tip" title="This is a tooltip">&nbsp;</span>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
