<p>
  <%= @requester %> of <%= @plan %>
  has indicated that
  <%= @provider %> will be providing
  a <%= @medical_asset.class.name.underscore.humanize %> on
  <%= l @operation_period.start_date %>
  to
  <%= l @operation_period.end_date %>.
</p>

<p>
  Please confirm your participation in this event.
</p>

<p>
  <%= link_to "Yes", [ @confirmation, confirm: true ], class: "btn" %>
  <%= link_to "No", [ @confirmation, reject: true ], class: "btn" %>
</p>
