<%= f.simple_fields_for :operation_periods, operation_period do |op| %>
<div class="content operation-period <%= "active" if count == 1 %> <%= "operation-period-#{op.object.id}" %>" id="panel<%= count %>">
  <div class="large-12 columns operation-period-container list with-padding shadow">

    <% if op.object.persisted? %>
      <div class="row">
        <div class="large-12 columns">
          <%= link_to "Create Duplicate Operation Period", [ operation_period, :clones ], method: "POST", remote: true, class: "button primary tiny radius" %>
          <%= link_to operation_period, method: "DELETE", remote: true, class: "button alert right tiny radius", data: { confirm: "Are you sure you want to remove this operational period?" } do %>
            <i class="fi-x"></i>
            Remove
          <% end %>
        </div>
      </div>
    <% end %>

    <%= op.input_field :id, as: :hidden %>

    <div id="stepSeven" class="row">
      <div class="small-2 columns input_label">
        <%= op.label :start_date, class: "inline", label: "START" %>
      </div>
      <div class="small-2 columns">
        <%= op.input_field :start_date, label: false, placeholder: "Date", as: "string", class: "dateSelect startDate", value: op.object.formatted_start_date %>
      </div>
      <div class="small-2 columns">
        <%= op.input_field :start_time, label: false, placeholder: "Time", as: "string", class: "time-input", value: op.object.formatted_start_time %>
      </div>
      <div class="large-3 columns">
        <%= render 'plans/comment_form', plan: @plan, title: "#{op.object.id}_start_date" %>
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns input_label">
        <%= op.label :end_date, class: "inline", label: "END" %>
      </div>
      <div class="small-2 columns">
        <%= op.input_field :end_date, label: false, placeholder: "Date", as: "string", class: "dateSelect endDate", value: op.object.formatted_end_date %>
      </div>
      <div class="small-2 columns">
        <%= op.input_field :end_time, label: false, placeholder: "Time", as: "string", class: "time-input", value: op.object.formatted_end_time %>
      </div>
      <div class="large-3 columns">
        <%= render 'plans/comment_form', plan: @plan, title: "#{op.object.id}_end_date" %>
      </div>
    </div>
    <div id="stepEight" class="row">
      <div class="small-2 columns input_label">
        <%= op.label :attendance, class: "inline" do %>
          * Peak Crowd Size&nbsp;<span data-tooltip aria-haspopup="true" class="has-tip" title="Number of participants and observers at peak time.">
          <i class="fi-info"></i>
          </span>
        <% end %>
      </div>
      <div class="small-4 columns">
        <%= op.input :attendance, label: false, as: :string, input_html: { id: "#{op.object.id}_attendance"} %>
      </div>
      <div class="large-3 columns">
        <%= render 'plans/comment_form', plan: @plan, title: "#{op.object.id}_attendance" %>
      </div>
    </div>

    <div id="stepNine" class="row">
      <div class="small-2 columns input_label">
        <%= op.label :crowd_estimate, class: "inline" do %>
          * Total Crowd Estimate&nbsp;<span data-tooltip aria-haspopup="true" class="has-tip" title="Number of people in attendance over the entire operational period.">
          <i class="fi-info"></i>
          </span>
        <% end %>
      </div>
      <div class="small-4 columns">
        <%= op.input :crowd_estimate, label: false, as: :string, input_html: { id: "#{op.object.id}_crowd_estimate"} %>
      </div>
      <div class="large-3 columns">
        <%= render 'plans/comment_form', plan: @plan, title: "#{op.object.id}_crowd_estimate" %>
      </div>
    </div>
    <div id="stepTen" class="row">
      <div class="small-2 columns input_label">
        <%= op.label :location, class: "inline" do %>
          Event Footprint&nbsp;<span data-tooltip aria-haspopup="true" class="has-tip" title="The overall footprint for the operational period.">
          <i class="fi-info"></i>
          </span>
        <% end %>
      </div>
      <div class="small-4 columns">
        <%= op.input :location, label: false, as: :text, input_html: { id: "#{op.object.id}_location"} %>
      </div>
      <div class="large-3 columns">
        <%= render 'plans/comment_form', plan: @plan, title: "#{op.object.id}_location" %>
      </div>
    </div>
    <div id="stepEleven" class="row">
      <div class="small-12 columns list shadow with-padding">
        <h4>First Aid Stations&nbsp;(<%= operation_period.first_aid_stations.count %>)</h4>
        <div class="row">
          <div class="small-8 columns">
            <table id="first_aid_table">
              <thead>
                <th>Name</th>
                <th width="75">Level</th>
                <th width="155">Provider</th>
              </thead>
              <tbody>
                <%= @asset_text[:first_aid_station] unless @asset_text.blank? %>
                <%= render 'plans/first_aid_station/first_aid_stations_show', op: op, operation_period: op.object %>
              </tbody>
            </table>

            <div class="large-12 columns">
              <a id="new_first_aid_station" class="button primary tiny radius" href="#" data-reveal-id="new-first-aid-station-<%= count - 1 %>"><i class="fi-plus"></i>&nbsp;ADD FIRST AID STATION</a>
              <%= render partial: 'plans/first_aid_station/new_first_aid_station', :locals => { :operation_period => op.object, :operation => "operation_periods[id][#{count}]", :operation_period_index => count - 1 } %>
            </div>
          </div>
          <div class="small-3 columns right end">
            <%= render 'plans/comment_form', plan: @plan, title: "#{op.object.id}_first_aid_stations" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns list shadow with-padding">
      <% if @plan.event_type.name = "Water-based" %>
        <h4>On water teams&nbsp;(<%= operation_period.mobile_teams.count %>)</h4>
      <% else %>
        <h4>Mobile Teams&nbsp;(<%= operation_period.mobile_teams.count %>)</h4>
      <% end %>
        <div class="row">
          <div class="small-8 columns">
            <table id="mobile_team_table">
              <thead>
                <th>Name</th>
                <th width="75">Level</th>
                <th width="155">Provider</th>
              </thead>
              <tbody>
                <%= @asset_text[:mobile_team] unless @asset_text.blank? %>
                <%= render 'plans/mobile_team/mobile_team_show', op: op, operation_period: op.object %>
              </tbody>
            </table>
            <div class="large-12 columns">
              <a id="new_mobile_team" class="button primary tiny radius" href="#" data-reveal-id="new-mobile-team-<%= count - 1 %>"><i class="fi-plus"></i>&nbsp;ADD MOBILE TEAM</a>
              <%= render partial: 'plans/mobile_team/new_mobile_team', :locals => { :operation_period => op.object, :operation_period_index => count - 1 } %>
            </div>
          </div>
          <div class="small-3 columns right end">
            <%= render 'plans/comment_form', plan: @plan, title: "#{op.object.id}_mobile_teams" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns list shadow with-padding">
        <h4>Transports&nbsp;(<%= operation_period.transports.count %>)</h4>
        <div class="row">
          <div class="small-8 columns">
            <%= simple_fields_for :transports do |t| %>
              <table id="transport_table">
                <thead>
                  <th>Name</th>
                  <th>Provider</th>
                </thead>
                <tbody>
                  <%= render 'plans/transport/transport_show', op: op, operation_period: op.object %>
                </tbody>
              </table>
              <div class="large-12 columns">
                <a id="new_transport" class="button primary tiny radius" href="#" data-reveal-id="new-transport-<%= count - 1 %>"><i class="fi-plus"></i>&nbsp;ADD TRANSPORT</a>
                <%= render partial: 'plans/transport/new_transport', :locals => { :operation_period => op.object, :operation_period_index => count - 1 } %>
              </div>
            <% end %>
          </div>
          <div class="small-3 columns right end">
            <%= render 'plans/comment_form', plan: @plan, title: "#{op.object.id}_transport" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns list shadow with-padding">
        <h4>Dispatch&nbsp;(<%= operation_period.dispatchs.count %>)</h4>
        <div class="row">
          <div class="small-8 columns">
            <%= simple_fields_for :dispatchs do |d| %>
              <table id="dispatch_table">
                <thead>
                  <th>Name</th>
                  <th>Provider</th>
                </thead>
                <tbody>
                  <%= render 'plans/dispatch/dispatch_show', op: op, operation_period: op.object %>
                </tbody>
              </table>
              <div class="large-12 columns">
                <a id="new_dispatch" class="button primary tiny radius" href="#" data-reveal-id="new-dispatch-<%= count - 1 %>"><i class="fi-plus"></i>&nbsp;ADD DISPATCH</a>
                <%= render partial: 'plans/dispatch/new_dispatch', :locals => { :operation_period => op.object, :operation_period_index => count - 1 } %>
              </div>
            <% end %>
          </div>
          <div class="small-3 columns right end">
            <%= render 'plans/comment_form', plan: @plan, title: "#{op.object.id}_dispatch" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
