<%= f.simple_fields_for :operation_periods, operation_period do |op| %>
  <div class="content <%= "active" if count == 1 %> <%= "operation-period-#{op.object.id}" %>" id="panel<%= count %>">

    <% if op.object.persisted? %>
      <div class="row">
        <div class="large-12 columns">
          <%= link_to "Clone", [ operation_period, :clones ], method: "POST", remote: true, class: "button primary tiny radius" %>
          <%= link_to operation_period, method: "DELETE", remote: true, class: "button alert right tiny radius", data: { confirm: "Are you sure you want to remove this operational period?" } do %>
            <i class="fi-x"></i>
            Remove
          <% end %>
        </div>
      </div>
    <% end %>

    <%= op.input_field :id, as: :hidden %>
    
    <div class="row">
      <div class="small-2 columns input_label">
        <%= op.label :start_date, class: "inline", label: "START" %>
      </div>
      <div class="small-2 columns">
        <%= op.input_field :start_date, label: false, placeholder: "Date", as: "string", class: "dateSelect", value: op.object.formatted_start_date %>
      </div>
      <div class="small-2 columns">
        <%= op.input_field :start_time, label: false, placeholder: "Time", as: "string", value: op.object.formatted_start_time %>
      </div>
      <div class="large-4 columns">
        <%= render 'plans/comment_form', plan: @plan, title: "#{op.object.id}_start_date" %>
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns input_label">
        <%= op.label :end_date, class: "inline", label: "END" %>
      </div>
      <div class="small-2 columns">
        <%= op.input_field :end_date, label: false, placeholder: "Date", as: "string", class: "dateSelect", value: op.object.formatted_end_date %>
      </div>
      <div class="small-2 columns">
        <%= op.input_field :end_time, label: false, placeholder: "Time", as: "string", value: op.object.formatted_end_time %>
      </div>
      <div class="large-4 columns">
        <%= render 'plans/comment_form', plan: @plan, title: "#{op.object.id}_end_date" %>
      </div>
    </div>        
    <div class="row">
      <div class="small-2 columns input_label">
        <%= op.label :attendance, class: "inline" do %>
          Crowd Size
        <% end %>
      </div>
      <div class="small-4 columns">
        <%= op.input :attendance, label: false, input_html: { id: "#{op.object.id}_attendance"} %>
      </div>
      <div class="large-4 columns">
        <%= render 'plans/comment_form', plan: @plan, title: "#{op.object.id}_attendance" %>
      </div>
    </div>
    <div class="row">
      <div class="large-9 columns">
        <fieldset>
          <legend>FIRST AID STATIONS</legend>
          <div class="row">
            <table id="first_aid_table">
              <thead>
                <th>Name</th>
                <th>Location</th>
                <th width="75">Level</th>
                <th>MDs</th>
                <th>RNs</th>
                <th>EMTs</th>
                <th>AEDs</th>
                <th>Provider</th>
                <th>Contact Name</th>
                <th>Contact Phone</th>
              </thead>
              <tbody>
                <%= render 'plans/first_aid_stations_show', op: op %>
              </tbody>
            </table>

            <div class="large-12 columns">
              <a id="new_first_aid_station" class="button primary tiny radius" href="#" data-reveal-id="new-first-aid-station-<%= count - 1 %>"><i class="fi-plus"></i>&nbsp;ADD FIRST AID STATION</a>
              <%= render partial: 'plans/new_first_aid_station', :locals => { :operation_period => op.object, :operation => "operation_periods[id][#{count}]", :operation_period_index => count - 1 } %>
            </div>  
          </div>
        </fieldset>
      </div>
      <div class="large-3 columns right end">
        <%= render 'plans/comment_form', plan: @plan, title: "#{op.object.id}_first_aid_stations" %>
      </div>          
    </div>
    <div class="row">
      <div class="large-9 columns">
        <fieldset>
          <legend>MOBILE TEAMS</legend>
          <div class="row">          
            <table id="mobile_team_table">
              <thead>
                <th>Name</th>
                <th>Location</th>
                <th width="75">Level</th>
                <th width="75">Type</th>
                <th>AEDs</th>
                <th>Provider</th>
                <th>Contact Name</th>
                <th>Contact Phone</th>
              </thead>
              <tbody>
                <%= render 'plans/mobile_team_show', op: op %>
              </tbody>
            </table> 
            <div class="large-12 columns">
              <a id="new_mobile_team" class="button primary tiny radius" href="#" data-reveal-id="new-mobile-team-<%= count - 1 %>"><i class="fi-plus"></i>&nbsp;ADD MOBILE TEAM</a>
              <%= render partial: 'plans/new_mobile_team', :locals => { :operation_period => op.object, :operation_period_index => count - 1 } %>
            </div>
          </div> 
        </fieldset>
      </div>  
      <div class="large-3 columns right end">
        <%= render 'plans/comment_form', plan: @plan, title: "#{op.object.id}_mobile_teams" %>
      </div>
    </div>

    <div class="row">
      <div class="large-9 columns">
        <fieldset>
          <legend>TRANSPORTS</legend>
          <div class="row">              
            <%= simple_fields_for :transports do |t| %>
              <table id="transport_table">
                <thead>
                  <th>Name</th>
                  <th>Location</th>
                  <th>Provider</th>
                  <th>Contact Name</th>
                  <th>Contact Phone</th>
                </thead>
                <tbody>
                  <%= render 'plans/transport_show', op: op %>
                </tbody>
              </table>
              <div class="large-12 columns">
                <a id="new_transport" class="button primary tiny radius" href="#" data-reveal-id="new-transport-<%= count - 1 %>"><i class="fi-plus"></i>&nbsp;ADD TRANSPORT</a>
                <%= render partial: 'plans/new_transport', :locals => { :operation_period => op.object, :operation_period_index => count - 1 } %>
              </div>
            <% end %>
          </div>
        </fieldset>
      </div>
      <div class="large-3 columns right end">
        <%= render 'plans/comment_form', plan: @plan, title: "#{op.object.id}_transport" %>
      </div>
    </div>   
    <div class="row">
      <div class="large-9 columns">            
        <fieldset>
          <div class="row">              
            <legend>DISPATCH</legend>
            <%= simple_fields_for :dispatchs do |d| %>
              <table id="dispatch_table">
                <thead>
                  <th>Name</th>
                  <th>Provider</th>
                  <th>Contact Name</th>
                  <th>Contact Phone</th>
                </thead>
                <tbody>
                  <%= render 'plans/dispatch_show', op: op %>
                </tbody>
              </table>
              <div class="large-12 columns">
                <a id="new_dispatch" class="button primary tiny radius" href="#" data-reveal-id="new-dispatch-<%= count - 1 %>"><i class="fi-plus"></i>&nbsp;ADD DISPATCH</a>
                <%= render partial: 'plans/new_dispatch', :locals => { :operation_period => op.object, :operation_period_index => count - 1 } %>
              </div>
            <% end %>
          </div>
        </fieldset>
      </div>
      <div class="large-3 columns right end">
        <%= render 'plans/comment_form', plan: @plan, title: "#{op.object.id}_dispatch" %>
      </div>          
    </div>
  </div>
<% end %>
