<div class="content <%= "active" if count == 1 %> <%= "operation-period-#{operation_period.id}" %>" id="panel<%= count %>">
  <div class="large-12 columns card large">
    <div class="row">
      <h3>Operation Period <%= count %> Overview</h3>
      <hr/>
      <div class="large-4 columns">
        <h4>Time Period</h4>
         <div>Start
          <p><%= operation_period.formatted_start_date %> at <%= operation_period.formatted_start_time %></p>
         </div>
         <div>End
           <p><%= operation_period.formatted_end_date %> at <%= operation_period.formatted_end_time %></p>
         </div>
      </div>
      <div class="large-4 columns">
        <h4>Crowd</h4>
        <div>Peak Crowd Size
          <p><%= @plan.attendance %></p>
        </div>
        <div>Total Crowd Estimate
          <p><%= operation_period.crowd_estimate %></p>
        </div>
      </div>
      <div class="large-4 columns">
        <h4>Event Footprint</h4>
          <p><%= operation_period.location %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-9 columns">
      <fieldset>
        <legend>FIRST AID STATIONS</legend>
        <div class="row">
          <table id="first_aid_table">
            <thead>
              <th>Name</th>
              <th width="75">Level</th>
              <th>Provider</th>
            </thead>
            <tbody>
              <%= render 'plans/first_aid_station/first_aid_station', op: operation_period, operation_period: operation_period %>
            </tbody>
          </table>
        </div>
      </fieldset>
    </div>
    <div class="large-3 columns right end">
      <%= render 'plans/comment_form', plan: @plan, title: "#{operation_period.id}_first_aid_stations" %>
    </div>
  </div>
  <div class="row">
    <div class="large-9 columns">
      <fieldset>
        <legend>MOBILE TEAMS</legend>
        <div class="row">
          <table id="mobile_team_table">
            <thead>
              <th>Name</th>
              <th width="75">Level</th>
              <th width="75">Type</th>
              <th>Provider</th>
            </thead>
            <tbody>
              <%= render 'plans/mobile_team/mobile_team', op: operation_period, operation_period: operation_period %>
            </tbody>
          </table>
        </div>
      </fieldset>
    </div>
    <div class="large-3 columns right end">
      <%= render 'plans/comment_form', plan: @plan, title: "#{operation_period.id}_mobile_teams" %>
    </div>
  </div>

  <div class="row">
    <div class="large-9 columns">
      <fieldset>
        <legend>TRANSPORTs</legend>
        <div class="row">
          <%= simple_fields_for :transports do |t| %>
            <table id="transport_table">
              <thead>
                <th>Name</th>
                <th>Provider</th>
              </thead>
              <tbody>
                <% render 'plans/transport/transport', op: operation_period, operation_period: operation_period %>
              </tbody>
            </table>
          <% end %>
        </div>
      </fieldset>
    </div>
    <div class="large-3 columns right end">
      <%= render 'plans/comment_form', plan: @plan, title: "#{operation_period.id}_transport" %>
    </div>
  </div>
  <div class="row">
    <div class="large-9 columns">
      <fieldset>
        <legend>DISPATCHES</legend>
        <div class="row">
          <table id="dispatch_table">
            <thead>
              <th>Name</th>
              <th>Provider</th>
            </thead>
            <tbody>
              <%= render 'plans/dispatch/dispatch', op: operation_period, operation_period: operation_period %>
            </tbody>
          </table>
        </div>
      </fieldset>
    </div>
    <div class="large-3 columns right end">
      <%= render 'plans/comment_form', plan: @plan, title: "#{operation_period.id}_dispatch" %>
    </div>
  </div>
</div>
