<div class="content <%= "active" if count == 1 %> <%= "operation-period-#{operation_period.id}" %>" id="panel<%= count %>">

  <div class="row">
    <div class="small-2 columns input_label">
      <label>Start</label>
    </div>
    <div class="small-4 columns">
      <p><%= l(operation_period.start_date) %></p>
    </div>
    <div class="large-4 columns">
      <%= render 'plans/comment_form', plan: @plan, title: "#{operation_period.id}_start_date" %>
    </div>
  </div>
  <div class="row">
    <div class="small-2 columns input_label">
      <label>End</label>
    </div>
    <div class="small-4 columns">
      <p><%= l(operation_period.end_date) %></p>
    </div>
    <div class="large-4 columns">
      <%= render 'plans/comment_form', plan: @plan, title: "#{operation_period.id}_end_date" %>
    </div>
  </div>
  <div class="row">
    <div class="small-2 columns input_label">
      <label>Crowd Size</label>
    </div>
    <div class="small-4 columns">
      <p><%= @plan.attendance %></p>
    </div>
    <div class="large-4 columns">
      <%= render 'plans/comment_form', plan: @plan, title: "#{operation_period.id}_attendance" %>
    </div>
  </div>

  <%= render 'operation_periods/asset_map', operation_period: operation_period, f: f %>

  <div class="row">
    <div class="large-9 columns">
      <fieldset>
        <legend>FIRST AID STATIONS</legend>
        <div class="row">
          <table class="first_aid_table">
            <thead>
              <th>Name</th>
              <th>Location</th>
              <th width="75">Level</th>
              <th>MDs</th>
              <th>RNs</th>
              <th>EMTs</th>
              <th>AEDs</th>
              <th>Provider</th>
            </thead>
            <tbody>
              <%= render 'plans/first_aid_stations_show', op: operation_period %>
            </tbody>
          </table>
        </div>
      </fieldset>
    </div>
    <div class="large-3 columns right end">
      <%= render 'plans/comment_form', plan: @plan, title: "#{operation_period.id}_first_aid_stations" %>
    </div>
  </div>
  <div class="row">
    <div class="large-9 columns">
      <fieldset>
        <legend>MOBILE TEAMS</legend>
        <div class="row">
          <table id="mobile_team_table">
            <thead>
              <th>Name</th>
              <th>Location</th>
              <th width="75">Level</th>
              <th width="75">Type</th>
              <th>AEDs</th>
              <th>Provider</th>
            </thead>
            <tbody>
              <%= render 'plans/mobile_team_show', op: operation_period %>
            </tbody>
          </table>
        </div>
      </fieldset>
    </div>
    <div class="large-3 columns right end">
      <%= render 'plans/comment_form', plan: @plan, title: "#{operation_period.id}_mobile_teams" %>
    </div>
  </div>

  <div class="row">
    <div class="large-9 columns">
      <fieldset>
        <legend>TRANSPORTs</legend>
        <div class="row">
          <%= simple_fields_for :transports do |t| %>
            <table id="transport_table">
              <thead>
                <th>Name</th>
                <th>Location</th>
                <th>Provider</th>
              </thead>
              <tbody>
                <%= render 'plans/transport_show', op: operation_period %>
              </tbody>
            </table>
          <% end %>
        </div>
      </fieldset>
    </div>
    <div class="large-3 columns right end">
      <%= render 'plans/comment_form', plan: @plan, title: "#{operation_period.id}_transport" %>
    </div>
  </div>
  <div class="row">
    <div class="large-9 columns">
      <fieldset>
        <legend>DISPATCHES</legend>
        <div class="row">
          <table id="dispatch_table">
            <thead>
              <th>Name</th>
              <th>Provider</th>
            </thead>
            <tbody>
              <%= render 'plans/dispatch_show', op: operation_period %>
            </tbody>
          </table>
        </div>
      </fieldset>
    </div>
    <div class="large-3 columns right end">
      <%= render 'plans/comment_form', plan: @plan, title: "#{operation_period.id}_dispatch" %>
    </div>
  </div>
</div>
