<div class="row">
  <div class="large-12 columns">
    <%= simple_form_for @event do |f| %>
      <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "error") %> prohibited this department from being saved:</h2>
          <ul>
          <% @event.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.input :name %>  
      <%= f.input :description %>
      
      <%= f.submit class: "button" %>

    <% end %> 
  </div>
</div>