<div class="row">
  <div class="large-3 columns end center">
    <%= wicked_pdf_image_tag 'sf_seal.jpg' %>
    <span>Edwin M. Lee</span>
  </div>
  <div class="large-6 columns center">
    <h3>SF Department of Public Health</h3>
    <div>30 Van Ness Ste#3300</div>
    <div>Population Health Division</div>
    <div>Phone: (415)  Fax: (415) 558-3843</div>
    <div>Division of Emergency Services</div>
    <div>Phone: (415) 487-5000  Fax: (415) 487-5043</div>
  </div>
  <div class="large-3 columns end center">
    <%= wicked_pdf_image_tag 'PHD_logo_Color.jpg' %>
    <span>Anne Kronenberg</span>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</div>
<div class="row">
  <div class="large-9 columns">
    <% if @plan.creator %>
      <div><%= @plan.creator.name %></div>
      <div><%= @plan.creator.email %></div>
      <div><%= @plan.creator.phone_number %></div>
    <% end %>
  </div>
  <div class="large-3 columns end">
    <div><%= Time.current.strftime("%B %e, %Y") %></div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <p>&nbsp;</p>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <p>Greetings <%= @plan.creator.name %>,</p>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <p>Attached please find the final approved Medical Plan for the upcoming event titled "<%= @plan.name %>" scheduled for <%= @plan.total_plan_period %>. I hope your Event is successful and I am available during business hours to answer any questions or address any concerns that you may have.  A copy of your Plan will be held on file in my office to reference and compare against any future plan that you may submit. Some elements of your submitted Medical Plan will not be included in the approval package, but will be kept as hard copies in the EMS Agency File.</p>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <p>A member of the EMS Agency may visit your Event in order to confirm that all required and contracted Medical Services are appropriate and present. They will present Identification to the Primary Emergency Contact as listed in your submitted Plan.  Please remember that an after action report must be submitted to my office within 14 days of the close of your operational period.</p>
  </div>
</div>
<div class="row">
  <div class="large-2 columns">
    <p>Regards,</p>
    <%= wicked_pdf_image_tag 'signature.jpg' %>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div>Aram L. Bronston</div>
    <div>Prehospital Coordinator</div>
    <div>SF Department of Emergency Management</div>
    <div>EMS Agency</div>
    <div>415/487-5032 office</div>
    <div>Aram.bronston@sfgov.org</div>
  </div>
</div>
<div class="alwaysbreak">
  <p>&nbsp;</p>
</div>
