<div class="row">
  <div class="large-3 columns center small-font">
    <%= wicked_pdf_image_tag 'sf_seal.jpg' %>
    <div>Edwin M. Lee <br/> Mayor</div>
  </div>
  <div class="large-6 columns center">
    <h3>Emergency Medical Services Agency</h3>
    <div>Population Health Division</div>
    <div>Department of Public Health</div>
    <div>30 Van Ness Ste#3300</div>
    <div>San Francisco, CA 94102</div>
  </div>
  <div class="large-3 columns end center small-font">
    <%= wicked_pdf_image_tag 'PHD_logo_Color.jpg' %>
    <div>Barbara Garcia <br/> Director of Health</div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</div>
<div class="row">
  <div class="large-9 columns">
    <% if @plan.creator %>
      <div><%= @plan.creator.name %></div>
      <div><%= @plan.creator.email %></div>
      <div><%= @plan.creator.phone_number %></div>
    <% end %>
  </div>
  <div class="large-3 columns end">
    <% unless @plan.approval_date.blank? %>
      <div><%= @plan.approval_date.strftime("%B %e, %Y") %></div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <p>&nbsp;</p>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <% if @plan.creator %>
      <p>Greetings <%= @plan.creator.name %>,</p>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <p>Attached please find the <% if @plan.approved? %>final <% else %> TENTATIVE <% end %> approved Medical Plan for the upcoming event titled "<%= @plan.name %>" scheduled for <%= @plan.total_plan_period %>. I hope your Event is successful and I am available during business hours to answer any questions or address any concerns that you may have.  A copy of your Plan will be held on file in my office to reference and compare against any future plan that you may submit. Some elements of your submitted Medical Plan will not be included in the approval package, but will be kept as hard copies in the EMS Agency File.</p>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <p>A member of the EMS Agency may visit your Event in order to confirm that all required and contracted Medical Services are appropriate and present. They will present Identification to the Primary Emergency Contact as listed in your submitted Plan.  Please remember that an after action report must be submitted to my office within 14 days of the close of your operational period.</p>
  </div>
</div>
<div class="row">
  <div class="large-2 columns">
    <p>Regards,</p>
    <%= wicked_pdf_image_tag 'signature.jpg' %>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div>Aram L. Bronston</div>
    <div>Prehospital Coordinator</div>
    <div>Emergency Medical Services Agency</div>
    <div>SF Department of Public Health</div>
    <div>30 Van Ness Ave., Ste#3300</div>
    <div>San Francisco, CA 94102</div>
    <div>aram.bronston@sfdph.org</div>
    <div>Office: 415-487-5032</div>
  </div>
</div>
<div class="alwaysbreak">
  <p>&nbsp;</p>
</div>
