<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= stylesheet_link_tag wicked_pdf_asset_base64 "application" %>
    <%= stylesheet_link_tag wicked_pdf_asset_base64 "main" %>
    <%= stylesheet_link_tag wicked_pdf_asset_base64 "foundation_and_overrides" %>
    <%= wicked_pdf_javascript_include_tag "application" %>
  </head>
  <style type="text/css">
    div.alwaysbreak { page-break-before: always; }
    div.nobreak:before { clear:both; }
    div.nobreak { page-break-inside: avoid; }
    /* The Grid ---------------------- */
    .row { width: 940px; max-width: 100%; min-width: 768px; margin: 0 auto; }
    .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
    .row.large-collapse .column,
    .row.large-collapse .columns { padding: 0; }
    .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
    .row .row.large-collapse { margin: 0; }

    .column, .columns { float: left; min-height: 1px; padding: 0 15px; position: relative; }
    .column.large-centered, .columns.large-centered { float: none; margin: 0 auto; }

    [class*="column"] + [class*="column"]:last-child { float: right; }
    [class*="column"] + [class*="column"].end { float: left; }

    .large-1,
    .row .large-1 { width: 8.33333%; }

    .large-2,
    .row .large-2 { width: 16.66667%; }

    .large-3,
    .row .large-3 { width: 25%; }

    .large-4,
    .row .large-4 { width: 33.33333%; }

    .large-5,
    .row .large-5 { width: 41.66667%; }

    .large-6,
    .row .large-6 { width: 50%; }

    .large-7,
    .row .large-7 { width: 58.33333%; }

    .large-8,
    .row .large-8 { width: 66.66667%; }

    .large-9,
    .row .large-9 { width: 75%; }

    .large-10,
    .row .large-10 { width: 83.33333%; }

    .large-11,
    .row .large-11 { width: 91.66667%; }

    .large-12,
    .row .large-12 { width: 100%; }

    .center { text-align: center; }

    .asset_container {

    }

  </style>
  <body>
    <div id="content">
      <% @plan.nil? ? @plan = plan : @plan %>
      <%= render "/plans/pdf/approval_letter", locals: { plan: @plan } %>
      <div class="row">
        <div class="large-12 columns pageTitle">
          <h1><%= @plan.name %></h1>
          <h4>Event Period:  <br/><%= @plan.total_plan_period %></h4>
          <div>Created by: </div>
          <ul class="no-bullet">
            <li class="fn"><%= @plan.creator.name %></li>
            <li><%= @plan.creator.phone_number %></li>
            <li class="email"><a href="#"><%= @plan.creator.email %></a></li>
          </ul>
          <div>Plan approved on: <%= @plan.approval_date.strftime("%B %e, %Y") unless @plan.approval_date.nil? %></div>
        </div>
        <div class="large-12 columns plan_form">
            <div class="row">
              <div class="large-8 columns">
              <% if @plan.users.present? %>
                <h3>Collaborators</h3>
                <% @plan.users.each do |user| %>
                  <ul class="no-bullet">
                    <li class="fn"><%= user.name %></li>
                    <li><%= user.phone_number %></li>
                    <li class="email"><a href="#"><%= user.email %></a></li>
                  </ul>
                <% end %>
              <% end %>
              </div>
            </div>
            <div class="row">
              <div class="small-8 columns end">
                Event Type: <%= @plan.event_type %>
              </div>
            </div>

            <div class="row">
              <div class="small-8 columns end">
                Permitting Agency: <%= @plan.permitter.name unless @plan.permitter.blank? %>
              </div>
            </div>
             <div class="row">
              <div class="small-8 columns">
                Alcohol Present: <%= @plan.alcohol ? 'Yes' : 'No' %>
              </div>
            </div>
            <hr/>
            <div>
              <% @plan.operation_periods.each.with_index do |period, index| %>
              <% if index > 0 %>
                <div class="alwaysbreak">
                  <p>&nbsp;</p>
                </div>
              <% end %>
               <h2>Operational Period  <%= index + 1 %></h2>
                <div class="content operation-period-form active" data-url="<%= url_for([ @plan, :operation_periods ]) %>">
                  <div class="row">
                    <div class="small-8 columns">
                      Start: <%= period.formatted_start_date %>&nbsp;<%= period.formatted_start_time %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="small-8 columns end">
                      End: <%= period.formatted_end_date %>&nbsp;<%= period.formatted_end_time %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="small-4 columns end">
                      Attendance: <%= period.attendance %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="small-4 columns end">
                      Event Footprint: <%= period.location %>
                    </div>
                  </div>
                    <div class="row">
                      <div class="large-12 columns">
                      <h3>First Aid Stations</h3>
                      <% period.first_aid_stations.each do |first_aid_station| %>
                      <div class="asset_container">
                        <h4><%= first_aid_station.name %></h4>
                        <div>Level: <%= first_aid_station.level %></div>
                        <div>MDs: <%= first_aid_station.md %></div>
                        <div>RNs: <%= first_aid_station.rn %></div>
                        <div>EMTs: <%= first_aid_station.emt %></div>
                        <div>AEDs: <%= first_aid_station.aed %></div>
                        <% if first_aid_station.provider.present? %>
                        <div>Provider: </div>
                        <ul class="no-bullet">
                          <li class="fn"><%= first_aid_station.provider.name %></li>
                          <li><%= first_aid_station.provider.phone_number %></li>
                          <li class="email"><a href="#"><%= first_aid_station.provider.email %></a></li>
                        </ul>
                        <% end %>
                      </div>
                        <% first_aid_station.asset_communications.each do |comms| %>
                          <%= comms.communication.name %>:&nbsp;<%= comms.description %>
                        <% end %>
                      <% end %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="large-12 columns">
                      <h3>MOBILE TEAMS</h3>
                      <div class="row">
                        <table id="mobile_team_table">
                          <thead>
                            <th width="125">Name</th>
                            <th width="75">Level</th>
                            <th width="75">Type</th>
                            <th>AEDs</th>
                            <th>Provider</th>
                          </thead>
                          <tbody>
                          <% period.mobile_teams.each do |mobile_team| %>
                            <tr>
                              <% %w(name level mobile_team_type aed).each do |attribute| %>
                                <td>
                                  <%= mobile_team.send(attribute) %>
                                </td>
                              <% end %>
                              <td>
                                <%= mobile_team.provider.name unless mobile_team.provider.blank? %>
                              </td>
                              <% mobile_team.asset_communications.each do |comms| %>
                                <td>
                                  <%= comms.communication.name %>:&nbsp;<%= comms.description %>
                                </td>
                              <% end %>
                            </tr>
                            <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                    <div class="row">
                      <div class="large-12 columns">
                        <fieldset>
                          <legend>TRANSPORT</legend>
                          <div class="row">
                            <%= simple_fields_for :transports do |t| %>
                              <table id="transport_table">
                                <thead>
                                  <th width="125">Name</th>
                                  <th>Provider</th>
                                </thead>
                                <tbody>
                                <% period.transports.each do |transport| %>
                                  <tr>
                                    <% %w(name location).each do |attribute| %>
                                      <td>
                                        <%= transport.send(attribute) %>
                                      </td>
                                    <% end %>
                                    <td>
                                      <%= transport.provider.name unless transport.provider.blank? %>
                                    </td>
                                    <% transport.asset_communications.each do |comms| %>
                                      <td>
                                        <%= comms.communication.name %>:&nbsp;<%= comms.description %>
                                      </td>
                                  <% end %>
                                  </tr>
                                <% end %>
                                </tbody>
                              </table>
                            <% end %>
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div class="row">
                      <div class="large-12 columns">
                        <fieldset>
                          <legend>DISPATCHs</legend>
                          <div class="row">
                            <table id="dispatch_table">
                              <thead>
                                <th width="125">Name</th>
                                <th>Provider</th>
                              </thead>
                              <tbody>
                                <% period.dispatchs.each do |dispatch| %>
                                  <tr>
                                    <% %w(name provider).each do |attribute| %>
                                      <td>
                                        <%= dispatch.send(attribute) %>
                                      </td>
                                    <% end %>
                                      <td>
                                        <%= dispatch.provider.name unless dispatch.provider.blank? %>
                                      </td>
                                    <% dispatch.asset_communications.each do |comms| %>
                                    <td>
                                      <%= comms.communication.name %>:&nbsp;<%= comms.description %>
                                    </td>
                                  <% end %>
                                  </tr>
                                <% end %>
                              </tbody>
                            </table>
                          </div>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
            <% if @plan.supplementary_documents.to_be_emailed.present? %>
              <h3>Supplemental Documents</h3>
              <p>To download, right-click and select "Save Link As..."</p>
              <% @plan.supplementary_documents.to_be_emailed.each do |doc|  %>
                <%= link_to "#{doc.name}", doc.file.url, target: "_blank" %>
              <% end %>
            <% end %>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
            <% if @plan.communication_plan.present? %>
              <dl>
                <% @plan.communication_plan.attributes.each do |name, value| %>
                  <div><%= name.humanize %>:&nbsp;<%= value %></div>
                <% end %>
              </dl>
            <% end %>
          </div>
        </div>
        <div class="alwaysbreak">
          <p>&nbsp;</p>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <h3>EVENT FOOTPRINT RESPONSIBILITY</h3>
            <p>The medical group supervisor or the event coordinator must contact the dispatch supervisor at DEC (phone: 415-575-0737) to take responsibility for the event footprint at the beginning of each operational period and release responsibility for the footprint at the end of each operational period.</p>
            <h3>CPR & 911</h3>
            <p>During the operational period of the event safety personnel will follow the existing communications plan and will contact 911 only if medical needs overwhelm the capabilities of dedicated contracted medical assets. All medical interventions are the responsibility of the dedicated/contracted medical staff.</p>
            <h3>COMMUNICATIONS</h3>
            <p>All event safety personnel will have a list of contact info and will be communicating as specified in the Medical Assets section<br> In case of emergency during the event, the event coordinator can be reached at all times at:</p>
            <h3>STAFF RESPONSIBILITY</h3>
            <p>All contracted medical interventionists will be active, current, and in good-standing at the time of the operational period. The event producer will ensure that a complete staff list is provided no less than one week prior to the first operational period.</p>
            <h3>MCI CAPABILITIES</h3>
            <p>A written MCI plan and an approved MCI will be present at the event. All contracted responders will be briefed and trained on their contents and use.</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
