<div class="row">
  <div class="large-6 end columns">
    <%= simple_form_for @organization do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :email, as: "email" %>
      <%= f.input :phone_number %>
      <%= f.input :organization_type_id, collection: OrganizationType.order(:name).all, value_method: :id, label_method: :name, label: "Type", prompt: 'Choose a type' %>
  </div>
  <div class="large-10 end columns">
      <table class="table table-hover datatable small-12 twelve" id="organization-users">
      <thead>
        <tr>
          <th width="80">Add to Organization</th>

          <th width="200">Name</th>
          <th width="250">Email</th>
          <th width="100">Role</th>
        </tr>
      </thead>
      <tbody>
      <% User.all.each do |user| %>
        <tr>
          <% if OrganizationUser.exists?(:organization_id => @organization.id, :user_id => user.id) %>
            <td><%= check_box "organizations_user[user_ids]", user.id, :class => 'table-row-checkbox member', data: { "userid": user.id }, checked: true %></td>
          <% else %>
            <td><%= check_box "organizations_user[user_ids]", user.id, :class => 'table-row-checkbox member', data: { "userid": user.id } %></td>
          <% end %>

          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.role %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

      <%= f.submit class: "button" %>

    <% end %>
  </div>
</div>
