<div class="large-12 columns text-center actions plan-action">
  <%= f.button :button, class: "button large radius warning", label: false do %>
    <i class="fi-check"></i> SAVE DRAFT
  <% end %>

  <% case plan.workflow_state %>
  <% when "draft" %>
    <%= link_to "SUBMIT PLAN", [ plan, :events, event: "submit" ], method: "POST", class: "button large radius" %>
  <% when "awaiting_review" %>
    <% if current_user.admin? %>
      <%= render "plans/request_revision", plan: plan %>
      <%= render "plans/approve", plan: plan %>
    <% end %>
  <% when "being_reviewed" %>
    <% if current_user.admin? %>
      <%= render "plans/approve", plan: plan %>
    <% end %>
  <% end %>
</div>
