<% if current_user.present? %>
<div class="large-12 columns text-center actions plan-action">
  <%= f.button :button, class: "button large radius warning", label: false do %>
    <i class="fi-check"></i> SAVE DRAFT
  <% end %>

  <% case plan.workflow_state %>
  <% when "draft" %>
    <%= link_to "SUBMIT PLAN", [ plan, :events, event: "submit" ], method: "POST", class: "button large radius plan-submit" %>
  <% when "under_review" %>
    <% if current_user.admin? %>
      <%= render "plans/request_revision", plan: plan %>
      <%= render "plans/approve", plan: plan %>
      <%= render "plans/provisionally_approve", plan: plan %>
    <% end %>
  <% when "revision_requested" %>
    <% if current_user.admin? %>
      <%= render "plans/request_review", plan: plan %>
      <%= render "plans/approve", plan: plan %>
      <%= render "plans/provisionally_approve", plan: plan %>
    <% elsif can? :manage, plan %>
      <%= render "plans/request_review", plan: plan %>
    <% end %>
  <% when "provisionally_approved" %>
    <% if current_user.admin? %>
      <%= render "plans/request_review", plan: plan %>
      <%= render "plans/approve", plan: plan %>
    <% elsif can? :manage, plan %>
      <%= render "plans/request_review", plan: plan %>
    <% end %>
  <% end %>
</div>
<% end %>
