<%= op.simple_fields_for :dispatchs do |a| %>
<tr>
  <td><%= a.input :name, required: false, label: false %></td>
  <td><%= a.input :organization_id,
                    collection: OrganizationType.find_providers,
                    label_method: :name,
                    value_method: :id,
                    include_blank: false,
                    prompt: "Select a provider",
                    required: false, label: false,
                    input_html: { class: "provider-dropdown" } %>
    <%= a.object.try(:provider_confirmation) %>
  </td>
  <td><a href="#" data-reveal-id="dispatch_info">More Info</a></td>
  <td><%= a.input :_destroy, as: :boolean, label: "Remove" %></td>
</tr>
    <div id="dispatch_info" class="update-dispatch reveal-modal medium asset-modal dispatch-form" data-url="<%= url_for([ operation_period, :dispatches ]) %>" data-reveal>
      <h2 id="modalTitle">More Info</h2>
      <div>
        Planning Contact Name
        <%= a.input :contact_name, required: false, label: false %><br>
        Planning Contact Phone
        <%= a.input :contact_phone, required: false, label: false %><br>
        Planning Contact Email
        <%= a.input :planning_contact_email, required: false, label: false %><br>
      </div>
      <div class="modal-footer">
        <a class="button secondary right close-reveal-modal" style="position: relative; font-weight: normal; font-size: inherit;">Close</a>
        <%= link_to "Confirm This Asset", "javascript:void(0)", class: "save-dispatch button primary save-modal" %>
      </div>
    </div>
<% end %>
