<%= simple_form_for [@plan] do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this department from being saved:</h2>
      <ul>
      <% @plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="large-12 columns pageTitle">
    <h1><%= f.input :name, label: false %> </h1>
  </div>
  <%= render 'plan_state' %>
  <div class="large-12 columns plan_form">
      <div class="row">
        <div class="large-8 columns new-event-info">
          <h6>Event Plan Creator</h6>
          <p>CONTACT</p>            
          <% if @plan.creator.present? %>
            <p><i class="fi-mail"></i> <%= @plan.creator.email %></p>
            <p><i class="fi-telephone"></i> <%= @plan.creator.phone_number %></p>   
          <% else %>
             <%= f.association :creator,
                              collection: User.all,
                              label_method: :email,
                              value_method: :id,
                              include_blank: false,
                              label: false %>
          <% end %>    
        </div>
        <div class="large-3 columns end">
          <%= render 'comment_form', plan: @plan, title: "contact" %>
        </div>
      </div>
      <div class="row">
        <div class="large-8 columns">
          <fieldset>
            <legend>Collaborators</legend>
            <% @plan.users.each do |user| %>
              <div class="row">
                <div class="small-3 columns input_label">
                  <%= user.label "Email", class: "inline" %>
                </div>
                <div class="small-8 columns">
                  <%= user.input :email, label: false %>
                </div>
              </div>
            <% end %>
            <div class="row">
              <%= f.association :users,
                              collection: User.all,
                              label_method: :email,
                              value_method: :id,
                              include_blank: false,
                              label: false %>
            </div>
            <div class="row">
              <a href="#" class="button small radius "><i class="fi-plus"></i> Add Editors</a>
            </div>
          </fieldset>
        </div>
        <div class="large-3 columns end">
          <% if @plan.id.present? && !@plan.draft? %>
            <%= render 'comment_form', plan: @plan, title: "collaborators" %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="small-3 columns input_label">
          <%= f.label :event_type, class: "inline" %>
        </div>
        <div class="small-5 columns">
        <%= f.association :event_type,
                              collection: EventType.all,
                              label_method: :name,
                              value_method: :id,
                              include_blank: false,
                              label: false %>
        </div>
        <div class="large-1 columns end">
          <a href="#" class="comment" data-reveal-id="attendance-comment">&nbsp;&nbsp;<i class="fi-comment"></i></a>
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns input_label">
          <%= f.label :permitter, class: "inline", label: "Permitting Agency" %>
        </div>
        <div class="small-5 columns">
        <%= f.association :permitter,
                          collection: Permitter.all,
                          label_method: :name,
                          value_method: :id,
                          include_blank: false,
                          label: false %>
        </div>
        <div class="large-1 columns end">
          <a href="#" class="comment" data-reveal-id="attendance-comment">&nbsp;&nbsp;<i class="fi-comment"></i></a>
        </div>
        <div class="large-3 columns end">
        </div>
      </div>
       <div class="row">
        <div class="small-3 columns input_label">
          <%= f.label :permitter, class: "inline", label: "Alcohol Present" %>
        </div>
        <div class="small-5 columns">
          <%= f.input :alcohol, label: "Yes" %>
        </div>
        <div class="large-1 columns end">
          <a href="#" class="comment" data-reveal-id="attendance-comment">&nbsp;&nbsp;<i class="fi-comment"></i></a>
        </div>
      </div>
      <hr/>

      <div class="row">
        <h3>Operational Period <a href="#" class="button tiny radius right"><i class="fi-plus"></i> Add Operational Period</a></h3>
      </div>

      <ul class="tabs" data-tab>
        <% @operation_periods.each_with_index do |operation_period, index| %>
          <%= render 'operation_period_tabs', count: index+1, period: operation_period %>
        <% end %>
      </ul>
      <div class="tabs-content">
        <% @operation_periods.each_with_index do |operation_period, index| %>
            <%= render 'operation_period_show', count: index+1, period: operation_period, f: f %>
        <% end %>
      </div>
    </div>

    <%= render 'plan_agreement' %>

    <div class="large-12 columns text-center actions plan-action">
      <%= f.button :button, class: "button large radius warning", label: false do %>
        <i class="fi-check"></i> SAVE DRAFT
      <% end %>
      <% if current_user.admin? && !@plan.being_reviewed? %>
        <%= link_to request_revision_plan_path(@plan), class: "button large radius", label: false, method: :post do %>
          <i class="fi-refresh"></i> REQUEST REVISION
        <% end %>
        <%= link_to approve_plan_path(@plan), class: "button large radius success", label: false, data: { confirm: "I know I know, just want to confirm that you are ready to approve this plan." }, method: :post do %>
          <i class="fi-check"></i> APPROVE PLAN
        <% end %>
      <% elsif current_user.admin? && @plan.being_reviewed? %>
        <%= link_to approve_plan_path(@plan), class: "button large radius success", label: false, data: { confirm: "I know I know, just want to confirm that you are ready to approve this plan." }, method: :post do %>
          <i class="fi-check"></i> APPROVE PLAN
        <% end %>
      <% end %>
    </div>

    <% end %> 
  </div>
</div>