<%= op.simple_fields_for :first_aid_stations do |a| %>
  <tr>
    <td><%= a.input :name, required: false, label: false %></td>
    <td><%= a.input :level, required: false, label: false, collection: ["ALS", "BLS"] %></td>
    <td><%= a.input :provider_id,
        collection: Provider.all,
        label_method: :name,
        value_method: :id,
        include_blank: false,
        prompt: "Select a provider",
        required: false, label: false %>
      <%= a.object.try(:provider_confirmation) %>
    </td>
    <td><a href="#" data-reveal-id="first_aid_info">More Info</a></td>  
    <td><%= a.input :_destroy, as: :boolean, label: "Remove" %></td>
  </tr>
    <div id="first_aid_info" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2 id="modalTitle">More Info</h2>
      MD <%= a.input :md, required: false, label: false %><br>
      RN <%= a.input :rn, required: false, label: false %><br>
      EMT <%= a.input :emt, required: false, label: false %><br>
      AED <%= a.input :aed, required: false, label: false %><br>
       
      Contact Name
      <%= a.input :contact_name, required: false, label: false %><br>
      Contact Phone
      <%= a.input :contact_phone, required: false, label: false %><br>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>  
<% end %>

