<%= op.simple_fields_for "first_aid_stations[id][#{DateTime.now.to_i}]" do |f| %>
<tr>
  <td>
    <span><%= first_aid_station[:name] %></span>
    <%= f.input :name, required: false, as: :hidden, value: first_aid_station[:name] %>
  </td>
  <td>
    <span><%= first_aid_station[:level] %></span>
    <%= f.input :level, required: false, as: :hidden, value: first_aid_station[:level] %>
  </td>
  <td>
    <span><%= first_aid_station[:md] %></span>
    <%= f.input :md, required: false, as: :hidden, value: first_aid_station[:md] %>
  </td>
  <td>
    <span><%= first_aid_station[:rn] %></span>
    <%= f.input :rn, required: false, as: :hidden, value: first_aid_station[:rn] %>
  </td>
  <td>
    <span><%= first_aid_station[:emt] %></span>
    <%= f.input :emt, required: false, as: :hidden, value: first_aid_station[:emt] %>
  </td>
  <td>
    <span><%= first_aid_station[:aed] %></span>
    <%= f.input :aed, required: false, as: :hidden, value: first_aid_station[:aed] %>
  </td>
  <td>
    <span><%= first_aid_station[:provider] %></span>
    <%= f.input :provider, required: false, as: :hidden, value: first_aid_station[:provider] %>
  </td>
  <td>
    <span><%= first_aid_station[:contact_name] %></span>
    <%= f.input :contact_name, required: false, as: :hidden, value: first_aid_station[:contact_name] %>
  </td>
  <td>
    <span><%= first_aid_station[:contact_phone] %></span>
    <%= f.input :contact_phone, required: false, as: :hidden, value: first_aid_station[:contact_phone] %>
  </td>
  <td>
    <span><%= first_aid_station[:lat] %></span>
    <%= f.input :lat, required: false, as: :hidden, value: first_aid_station[:lat] %>
  </td>
  <td>
    <span><%= first_aid_station[:lng] %></span>
    <%= f.input :lng, required: false, as: :hidden, value: first_aid_station[:lng] %>
  </td>
<% end %>
