<%= op.simple_fields_for :first_aid_stations do |f| %>
<tr>
  <td><%= f.input :name, required: false, label: false %></td>
  <td><%= f.input :location, required: false, label: false %></td>
  <td><%= f.input :level, required: false, label: false, collection: ["ALS", "BLS"] %></td>
  <td><%= f.input :md, required: false, label: false %></td>
  <td><%= f.input :rn, required: false, label: false %></td>
  <td><%= f.input :emt, required: false, label: false %></td>
  <td><%= f.input :aed, required: false, label: false %></td>
  <td><%= f.input :provider_id,
                    collection: Provider.all,
                    label_method: :name,
                    value_method: :id,
                    include_blank: false,
                    prompt: "Select a provider",
                    label: "Provider", required: false, label: false %></td>
  <td><%= f.input :contact_name, required: false, label: false %></td>
  <td><%= f.input :contact_phone, required: false, label: false %></td>
</tr>
<% end %>
