<%= op.simple_fields_for :first_aid_stations do |a| %>
  <tr>
    <td><%= a.input :name, required: false, label: false %></td>
    <td><%= a.input :level, required: false, label: false, collection: ["ALS", "BLS"] %></td>
    <!-- <td><%= a.input :md, required: false, label: false %></td>
    <td><%= a.input :rn, required: false, label: false %></td>
    <td><%= a.input :emt, required: false, label: false %></td>
    <td><%= a.input :aed, required: false, label: false %></td> -->
    <td><%= a.input :provider_id,
        collection: Provider.all,
        label_method: :name,
        value_method: :id,
        include_blank: false,
        prompt: "Select a provider",
        required: false, label: false %>
      <%= a.object.try(:provider_confirmation) %>
    </td>
    <td><span data-tooltip aria-haspopup="true" class="has-tip" title="more info">Info</span></td>
    <!--
    <td></td>
    <td><%= a.input :contact_phone, required: false, label: false %></td>
    -->
    <td><%= a.input :_destroy, as: :boolean, label: "Remove" %></td>
  </tr>
<% end %>

