<div class="row">
  <div class="large-12 columns pageTitle">
    <h1>Enter Plan Information</h1>
  </div>
  <div class="large-12 columns plan_form">
    <%= simple_form_for [@plan] do |f| %>
      <% if @plan.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>
          <ul>
          <% @plan.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <div class="small-3 columns input_label">
          <%= f.label :name, class: "inline", label: "Event Name" %>
        </div>
        <div class="small-5 columns end">
          <%= f.input :name, label: false %>  
        </div>
      </div>
      <div class="row">
        <div class="large-8 columns">
          <fieldset>
            <legend>COLLABORATORS</legend>
              <div class="row">
                <div class="large-9 columns">
                  <table id="users_table">
                    <thead>
                      <th>Email</th>
                      <th>Role</th>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
                <div class="large-3 columns">
                  <a id="new_plan_user_button" href="#" data-reveal-id="new-plan-user" class="button tiny radius"><i class="fi-plus"></i>ADD USERS</a>
                  <%= render 'new_plan_user', :plan => @plan %>
                </div>
            </div>              
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="small-3 columns input_label">
          <%= f.label :event_type, class: "inline" %>
        </div>
        <div class="small-5 columns end">
        <%= f.association :event_type,
                              collection: EventType.all,
                              label_method: :name,
                              value_method: :id,
                              include_blank: false,
                              label: false %>
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns input_label">
          <%= f.label :permitter, class: "inline", label: "Permitting Agency" %>
        </div>
        <div class="small-5 columns end">
        <%= f.association :permitter,
                            collection: OrganizationType.find_permitters,
                            label_method: :name,
                            value_method: :id,
                            include_blank: false,
                            label: false %>
        <%= render partial: "permitters/permitter", collection: OrganizationType.find_permitters %>
        </div>
        <div class="large-3 columns end">
        </div>
      </div>
       <div class="row">
        <div class="small-3 columns input_label">
          <%= f.label :permitter, class: "inline", label: "Alcohol Present" %>
        </div>
        <div class="small-5 columns end">
          <%= f.input :alcohol, label: " Yes" %>
        </div>
      </div>
      <hr/>

      <%= render 'operation_periods_container', f: f %>

      <%= render 'plan_agreement', plan: @plan %>
      
      <div class="row">
        <fieldset>
          <legend>POST EVENT TREATMENT REPORT CREATOR</legend>
          <div class="row">
            <div class="large-4 columns">
              <%= f.input :post_event_name, required: true %>
              <%= f.input :post_event_email, required: true %>
              <%= f.input :post_event_phone, required: true %>
            </div>  
          </div>     
        </fieldset>  
      </div>
    <div class="large-12 columns text-center actions plan-action">
      <div class="accept-warning">
        <p>You must accept all responsibility fields before submitting your plan.</p>
      </div>
      <a href="#" class="button large warning radius"><i class="fi-check"></i> SAVE DRAFT</a>
      <%= f.submit "SUBMIT PLAN", class: "button large radius" %>
    </div>

    <% end %> 
</div>
