<div class="row">
  <h1>Enter Plan Information</h1>
  <%= render 'plan_state' %>
  <div class="large-8 columns plan_form">
    <%= simple_form_for [@plan] do |f| %>
      <% if @plan.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this department from being saved:</h2>
          <ul>
          <% @plan.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <div class="small-4 columns input_label">
          <%= f.label :name, class: "inline", label: "Event Name" %>
        </div>
        <div class="small-8 columns">
          <%= f.input :name, label: false %>  
        </div>
      </div>
      <div class="row">
        <div class="small-4 columns input_label">
          <%= f.label :event_type, class: "inline" %>
        </div>
        <div class="small-8 columns">
        <%= f.association :event_type,
                              collection: EventType.all,
                              label_method: :name,
                              value_method: :id,
                              include_blank: false,
                              label: false %>
        </div>
      </div>

      <div class="row">
        <div class="small-4 columns input_label">
          <%= f.label :permitter, class: "inline", label: "Permitting Agency" %>
        </div>
        <div class="small-8 columns">
        <%= f.association :permitter,
                            collection: Permitter.all,
                            label_method: :name,
                            value_method: :id,
                            include_blank: false,
                            label: false %>
        </div>
      </div>
       <div class="row">
        <div class="small-4 columns input_label">
          <%= f.label :permitter, class: "inline", label: "Alcohol Present" %>
        </div>
        <div class="small-8 columns">
          <%= f.input :alcohol, label: false %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns new-event-info">
          <h6>Event Plan Creator</h6>
          <p>CONTACT</p>            
          <p><i class="fi-torso"></i> John Doe</p>
          <p><i class="fi-mail"></i> john@example.gov</p>
          <p><i class="fi-telephone"></i> (123) 456-7890</p>     
        </div>
      </div>
      <hr/>
      
      <%= f.simple_fields_for :operation_periods do |op| %>
        <div class="row">
          <h3>Operational Period <a href="#" class="button tiny radius right"><i class="fi-plus"></i> Add Operational Period</a></h3>
        </div>
        <div class="row">
          <div class="small-4 columns input_label">
          <%= f.label :start_date, class: "inline", label: "Event Date" %>
        </div>
          <div class="small-4 columns">
            <%= op.input :start_date, label: false, placeholder: "Start" %>
          </div>
          <div class="small-4 columns">
            <%= op.input :end_date, label: false, placeholder: "End" %>
          </div>
        </div>
        <div class="row">
          <div class="small-4 columns input_label">
            <%= f.label :attendance, class: "inline" do %>
             Crowd Size <a href="#" class="comment" data-reveal-id="attendance-comment">&nbsp;&nbsp;<i class="fi-comment"></i></a>
            <% end %>
            <div id="attendance-comment" class="reveal-modal small" data-reveal>
              <a class="close-reveal-modal">&#215;</a>
              <h3>Add A Comment</h3>
              <div class="modal-body">
                <label>Enter your comment:</label>
                <%= text_area(:attendance_comment, :text, cols: 20, rows: 5) %>
              </div>
              <div class="modal-footer">
                <a href="#" class="button primary save-modal">Add Comment</a>
              </div>
            </div>
          </div>
          <div class="small-8 columns">
            <%= op.input :attendance, label: false %>
          </div>
        </div>

        <fieldset>
          <legend>First Aid Stations</legend>
          <%= op.simple_fields_for :first_aid_stations do |first_aid| %>
            <table id="first_aid_table" class="asset_table">
              <thead>
                <th></th>
                <th>Location</th>
                <th>Lvl</th>
                <th>MDs</th>
                <th>RNs</th>
                <th>EMTs</th>
                <th>AEDs</th>
                <th>Provider</th>
              </thead>
              <tbody>
                <tr class="more">
                  <td>
                  </td>
                </tr>
              </tbody>
            </table>  
          <% end %>
          <a id="new_first_aid_station" href="#" data-reveal-id="new-first-aid-station" class="button primary small"><i class="fi-plus"></i> Add a First Aid Station</a>
          <%= render 'new_first_aid_station', plan: @plan, operation_period: op %>
        </fieldset>
        <fieldset>
          <legend>Mobile Teams</legend>
          <%= op.simple_fields_for :mobile_teams do |mobile| %>
            <table>
              <thead>
                <th>Location</th>
                <th>Lvl</th>
                <th>AEDs</th>
                <th>Provider</th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <a id="new_mobile_team" href="#" data-reveal-id="new-mobile-team"><i class="fi-plus"></i></a>
                    <%= render 'new_mobile_team', plan: @plan, operation_period: op %>
                  </td>
                </tr>
              </tbody>
            </table>  
          <% end %>
        </fieldset>
        <fieldset>
          <legend>Transport</legend>
          <%= op.simple_fields_for :transports do |t| %>
            <table id="transport_table">
              <thead>
                <th>Location</th>
                <th>Lvl</th>
                <th>Provider</th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <a id="new_transport" href="#" data-reveal-id="new-transport"><i class="fi-plus"></i></a>
                    <%= render 'new_transport', plan: @plan, operation_period: op %>
                  </td>
                </tr>
              </tbody>
            </table>  
          <% end %>
        </fieldset>
        <fieldset>
          <legend>Dispatch</legend>
          <%= op.simple_fields_for :dispatchs do |d| %>
            <table id="dispatch_table">
              <thead>
                <th>Location</th>
                <th>Lvl</th>
                <th>Provider</th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <a id="new_dispatch" href="#" data-reveal-id="new-dispatch"><i class="fi-plus"></i></a>
                    <%= render 'new_dispatch', plan: @plan, operation_period: op %>
                  </td>
                </tr>
              </tbody>
            </table>  
          <% end %>
        </fieldset>
        <% end %>

        <%= render 'plan_sidebar' %>

      <div class="actions">
        <a href="#" class="button">Save Draft</a>
        <%= f.submit class: "button" %>
        
      </div>

    <% end %> 
  </div>
</div>