<div class="row">
  <h1>Enter Plan Information</h1>
  <div class="large-6 columns plan_form">
    <%= simple_form_for @plan do |f| %>
      <% if @plan.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this department from being saved:</h2>
          <ul>
          <% @plan.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <div class="small-4 columns input_label">
          <%= f.label :name, class: "inline", label: "Event Name" %>
        </div>
        <div class="small-8 columns">
          <%= f.input :name, label: false %>  
        </div>
      </div>
      <div class="row">
        <div class="small-4 columns input_label">
          <%= f.label :event_type, class: "inline" %>
        </div>
        <div class="small-8 columns">
        <%= f.association :event_type,
                              collection: EventType.all,
                              label_method: :name,
                              value_method: :id,
                              include_blank: false,
                              label: false %>
        </div>
      </div>

      <div class="row">
        <div class="small-4 columns input_label">
          <%= f.label :permitter, class: "inline", label: "Permitting Agency" %>
        </div>
        <div class="small-8 columns">
        <%= f.association :permitter,
                            collection: Permitter.all,
                            label_method: :name,
                            value_method: :id,
                            include_blank: false,
                            label: false %>
        </div>
      </div>
      
      <%= f.input :alcohol %>

      
      <%= f.simple_fields_for :operation_periods do |op| %>
        <h3>Operational Period</h3>
        <div class="row">
          <div class="small-4 columns input_label">
          <%= f.label :start_date, class: "inline", label: "Event Date" %>
        </div>
          <div class="small-4 columns">
            <%= op.input :start_date, label: false, placeholder: "Start" %>
          </div>
          <div class="small-4 columns">
            <%= op.input :end_date, label: false, placeholder: "End" %>
          </div>
        </div>
        <div class="row">
        <div class="small-4 columns input_label">
          <%= f.label :attendance, class: "inline", label: "Crowd Size" %>
        </div>
        <div class="small-8 columns">
          <%= op.input :attendance, label: false %>
        </div>
      </div>
      <h4>First Aid Stations</h4>
        <%= op.simple_fields_for :first_aid_stations do |first_aid| %>
          <%= first_aid.input :name %>
          <%= first_aid.input :md, label: "MDs", input_html: {value: 0} %>
          <%= first_aid.input :rn, label: "RNs", input_html: {value: 0} %>
          <%= first_aid.input :emt, label: "EMTs", input_html: {value: 0} %>
          <%= first_aid.input :aed, label: "AEDs", input_html: {value: 0} %>
          <%= first_aid.input :level %>
          <%= first_aid.input :provider,
                            collection: Provider.all,
                            label_method: :name,
                            value_method: :id,
                            include_blank: false,
                            label: "Provider" %>
        <% end %>
      <% end %>

      <%= f.submit class: "button" %>

    <% end %> 
  </div>
</div>