<div class="row">
  <div class="large-12 columns pageTitle">
    <h1>Enter Plan Information</h1>
  </div>
  <div class="large-12 columns plan_form">
    <%= simple_form_for [@plan] do |f| %>
      <% if @plan.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this department from being saved:</h2>
          <ul>
          <% @plan.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <div class="small-3 columns input_label">
          <%= f.label :name, class: "inline", label: "Event Name" %>
        </div>
        <div class="small-5 columns end">
          <%= f.input :name, label: false %>  
        </div>
      </div>
      <div class="row">
        <div class="large-8 columns">
          <fieldset>
            <legend>COLLABORATORS</legend>
              <div class="row">
                <div class="large-9 columns">
                  <table id="users_table">
                    <thead>
                      <th>Email</th>
                      <th>Role</th>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
                <div class="large-3 columns">
                  <a id="new_plan_user_button" href="#" data-reveal-id="new-plan-user" class="button tiny radius"><i class="fi-plus"></i>ADD USERS</a>
                  <%= render 'new_plan_user', :plan => @plan %>
                </div>
            </div>              
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="small-3 columns input_label">
          <%= f.label :event_type, class: "inline" %>
        </div>
        <div class="small-5 columns end">
        <%= f.association :event_type,
                              collection: EventType.all,
                              label_method: :name,
                              value_method: :id,
                              include_blank: false,
                              label: false %>
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns input_label">
          <%= f.label :permitter, class: "inline", label: "Permitting Agency" %>
        </div>
        <div class="small-5 columns end">
        <%= f.association :permitter,
                            collection: @permitters,
                            label_method: :name,
                            value_method: :id,
                            include_blank: false,
                            label: false %>
        <%= render partial: "permitters/permitter", collection: @permitters %>
        </div>
        <div class="large-3 columns end">
        </div>
      </div>
       <div class="row">
        <div class="small-3 columns input_label">
          <%= f.label :permitter, class: "inline", label: "Alcohol Present" %>
        </div>
        <div class="small-5 columns end">
          <%= f.input :alcohol, label: " Yes" %>
        </div>
      </div>
      <hr/>

      <div class="row">
        <h3>Operational Period <span class="add_operation_period_button"><%= link_to add_operation_period_path(1), remote: true, class: "button primary tiny radius right", id: "new_operation_period"  do %> 
              <i class="fi-plus"></i> ADD OPERATIONAL PERIOD
            <% end %></span></h3>
      </div>

      <ul class="tabs" data-tab>
        <li class="tab-title active"><a href="#panel1">Operational Period 1</a></li>
      </ul>
      <div class="tabs-content">
        <%= render partial: 'operation_period', locals: { plan_form: f, count: 1 } %>
      </div>

    <div class="row">
      <div class="large-12 columns">
        <fieldset>
          <legend>RESPONSIBILITY</legend>
          <p>The medical group supervisor or the event coordinator must contact the dispatch supervisor at DEC to take responsibility for the event footprint at the beginning of each operational period and release responsibility for the footprint at the end of each operational period.</p>
          <%= f.input :responsibility, required: true %>
        </fieldset>     
        <fieldset>
          <legend>CPR &amp; 911</legend>
          <p>During the operational period of the event safety personnel will follow the existing communications plan and will contact 911 only if medical needs overwhelm the capabilities of dedicated contracted medical assets. All medical interventions are the responsibility of the dedicated/contracted medical staff.</p>
          <%= f.input :cpr %>     
        </fieldset> 
        <fieldset>
          <legend>COMMUNICATIONS</legend>
          <p>All event safety personnel will have a list of contact info and will be communicating as specified in the Medical Assets section<br> In case of emergency during the event, the event coordinator can be reached at all times at:</p>
          <label>
            <%= f.input :event_contact %>     
          </label> 
          <%= f.input :communication %>     
      </fieldset> 
      <fieldset>
        <legend>SUPPLEMENTARY DOCUMENTS</legend>
        <a href="#" class="button tiny radius"><i class="fi-plus"></i> UPLOAD FILE</a>     
      </fieldset>                                            
      <fieldset>
        <legend>POST EVENT TREATMENT REPORT CREATOR</legend>
        <p> 
        <label><i class="fi-torso"></i> Name
          <%= f.input :post_event_name, label: false %>    
        </label></p>
        <p> 
        <label><i class="fi-mail"></i> Email
          <%= f.input :post_event_email, label: false %>    
        </label></p>
        <p> 
        <label><i class="fi-telephone"></i> Phone
          <%= f.input :post_event_phone, label: false %>    
        </label></p>    
      </fieldset> 
    </div>  
    <div class="large-12 columns text-center actions plan-action">
      <a href="#" class="button large warning radius"><i class="fi-check"></i> SAVE DRAFT</a>
      <%= f.submit "SUBMIT PLAN", class: "button large radius" %>
    </div>

    <% end %> 
  </div>
</div>
