<% unless smart_listing.empty? %>
  <table id="all_plans" class="plan_table large-12 columns">
    <thead>
      <th width="75"><%= smart_listing.sortable "Name", "name" %></th>
      <th width="100">Event Type</th>
      <th width="75"><%= smart_listing.sortable "Attendance", "total_attendance" %></th>
      <th width="75"><%= smart_listing.sortable "Start Date", "start_datetime" %></th>
      <th width="75"><%= smart_listing.sortable "End Date", "end_datetime" %></th>
      <% if can? :read, :user_only_items %>
        <th width="20">Status</th>
      <% end %>
    </thead>
    <tbody>
      <% smart_listing.collection.each do |o| %>
      <tr>
        <td class="name"><%= link_to o.name, plan_path(o) %></td>
        <td><%= o.event_type.nil? ? "N/A" : o.event_type.name %></td>
        <td class="attendance"><%= o.attendance if o.attendance > 0 %></td>
        <td><%= o.start_datetime.present? ? o.start_datetime.in_time_zone("UTC").strftime("%D %l:%M %P") : "No Date" %></td>
        <td><%= o.end_datetime.present? ? o.end_datetime.in_time_zone("UTC").strftime("%D %l:%M %P") : "No Date" %></td>
        <% if can? :read, :user_only_items %>
          <td><%= t(o.workflow_state, scope: "plans.state") %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= smart_listing.paginate %>
  <h5><%= smart_listing.pagination_per_page_links %></h5>
  <% else %>
  <br>
  <div class="text-center">
    <h3>Your search didn't match any events.</h3>
    <p>Try different search terms.</p>
  </div>
  <% end %>
</div>
