<% unless smart_listing.empty? %>
  <table id="all_plans" class="plan_table large-12 columns">
    <thead>
      <th width="75"><%= smart_listing.sortable "Name", "name" %></th>
      <th width="100"><%= smart_listing.sortable "Event Type", "event_type" %></th>
      <th width="75"><%= smart_listing.sortable "Attendance", "attendance" %></th>
      <th width="75">Start Date</th>
      <th width="75">End Date</th>
    </thead>
    <tbody>
      <% smart_listing.collection.each do |o| %>
        <% attendance = 0 %>
        <% if o.operation_periods.present? %>
          <% start_date = o.operation_periods.sort_by(&:start_date).first.start_date %>
          <% end_date = o.operation_periods.sort_by(&:end_date).first.end_date %>
          <% o.operation_periods.sort_by(&:start_date).each do |op| %>
            <% op.attendance.present? ? attendance += op.attendance : nil %>
          <% end %>
        <% end %>
      <tr>
        <td><%= link_to o.name, plan_path(o) %></td>
        <td><%= o.event_type.nil? ? "N/A" : o.event_type.name %></td>
        <td><%= attendance %></td>
        <td><%= start_date.strftime("%D %l:%M %P") %></td>
        <td><%= end_date.strftime("%D %l:%M %P") %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= smart_listing.paginate %>
  <h5><%= smart_listing.pagination_per_page_links %></h5>
  <% else %>
  <br>
  <div class="text-center">
    <h3>Your search didn't match any requests.</h3>
    <p>Try different search terms.</p>
  </div>
  <% end %>
</div>
