<%= op.simple_fields_for :mobile_teams do |f| %>
<tr>
  <td><%= f.input :name, required: false, label: false %></td>
  <td><%= f.input :location, required: false, label: false %></td>
  <td><%= f.input :level, required: false, label: false, collection: ["ALS", "BLS"] %></td>
  <td><%= f.input :type, required: false, label: false, collection: ["Foot", "Bike", "Gator/Cart"] %></td>
  <td><%= f.input :aed, input_html: {value: 0}, required: false, label: false %></td>
  <td><%= f.input :provider_id,
                    collection: Provider.all,
                    label_method: :name,
                    value_method: :id,
                    include_blank: false,
                    prompt: "Select a provider",
                    required: false, label: false %></td>
  <td><%= f.input :contact_name, required: false, label: false %></td>
  <td><%= f.input :contact_phone, required: false, label: false %></td>
  <td><%= f.input :_destroy, as: :boolean, label: "Remove" %></td>
</tr>
<% end %>
