<% unique_id = SecureRandom.hex(16) %>

<div id="new-first-aid-station-<%= operation_period_index %>" class="new-first-aid-station reveal-modal medium asset-modal first-aid-station-form" data-url="<%= url_for([ operation_period, :first_aid_stations ]) %>" data-reveal>
  <a class="close-reveal-modal">&#215;</a>
  <h3>Add New First Aid Station</h3>
  <div class="modal-body">
    <%= simple_fields_for "first_aid_station" do |a| %>
      <%= a.input :name, required: false %>
      <%= a.input :level, required: false, collection: ["ALS", "BLS"] %>
      <%= a.input :md, input_html: {value: 0}, required: false %>
      <%= a.input :rn, input_html: {value: 0}, required: false %>
      <%= a.input :emt, input_html: {value: 0}, required: false %>
      <%= a.input :aed, input_html: {value: 0}, required: false %>
      <%= a.input :provider_id,
      collection: Provider.all,
      label_method: :name,
      value_method: :id,
      include_blank: false,
      prompt: "Select a provider",
      label: "Provider", required: false %>
      <%= a.input :contact_name, required: false %>
      <%= a.input :contact_phone, required: false %>
      <div id='map_first_aid_<%= unique_id %>' class="asset_map"></div>
      <div id='lat_map_first_aid_<%= unique_id %>'>
        <%= a.input :lat, input_html: { id: 'lat' }, as: :hidden  %>
      </div>
      <div id="lng_map_first_aid_<%= unique_id %>">
        <%= a.input :lng, input_html: { id: 'lng' }, as: :hidden %>
      </div>
      <div id="service_area_map_first_aid_<%= unique_id %>">
        <%= a.input :service_area, input_html: { id: 'service_area' }, as: :hidden %>
      </div>
    <% end %>
  </div>
  <div class="modal-footer">
    <%= link_to "Add First Aid Station", "javascript:void(0)", class: "save-first-aid-station button primary save-modal disabled" %>
  </div>
  <script>
   $(document).ready(function(){
     $(document).on('opened.fndtn.reveal', '.new-first-aid-station[data-reveal]', function () {
       map_initialize('map_first_aid_<%= unique_id %>');    // form map for new view (print nothing with possibility of put marker)
     });
   })
  </script>
</div>



