
<% unique_id = SecureRandom.hex(16) %>

<div id="new-dispatch-<%= operation_period_index %>" class="new-dispatch reveal-modal medium asset-modal dispatch-form" data-url="<%= url_for([ operation_period, :dispatches ]) %>" data-reveal>
  <a class="close-reveal-modal">&#215;</a>
  <h3>Add Dispatch</h3>
  <div class="modal-body">
    <%= simple_fields_for "dispatch" do |a| %>
      <%= a.input :name, required: false %>
      <%= a.input :provider_id,
      collection: OrganizationType.find_providers,
      label_method: :name,
      value_method: :id,
      include_blank: false,
      prompt: "Select a provider",
      label: "Provider", required: false %>
      <%= a.input :contact_name, required: false, label: 'Planning Contact Name' %>
      <%= a.input :contact_phone, required: false, label: 'Planning Contact Phone' %>
      <%= a.input :planning_contact_email, required: false, label: 'Planning Contact Email' %>
      <div id='map_dispatch_<%= unique_id %>' class="asset_map"></div>
      <div id='lat_map_dispatch_<%= unique_id %>'>
        <%= a.input :lat, input_html: { id: 'lat' }, as: :hidden  %>
      </div>
      <div id="lng_map_dispatch_<%= unique_id %>">
        <%= a.input :lng, input_html: { id: 'lng' }, as: :hidden %>
      </div>
      <div id="service_area_map_dispatch_<%= unique_id %>">
        <%= a.input :service_area, input_html: { id: 'service_area' }, as: :hidden %>
      </div>
    <% end %>
  </div>
  <div class="modal-footer">
    <p class="location_warning">You must add a location to the map before you can add the asset</p>
    <%= link_to "Confirm This Asset", "javascript:void(0)", class: "save-dispatch button primary save-modal disabled" %>
  </div>
  <script>
   $(document).ready(function(){
     $(document).on('opened.fndtn.reveal', '.new-dispatch[data-reveal]', function () {
       map_initialize('map_dispatch_<%= unique_id %>');    // form map for new view (print nothing with possibility of put marker)
     });
   })
  </script>
</div>

