<div id="new-mobile-team-<%= operation_period_index %>" class="new-mobile-team reveal-modal medium asset-modal mobile-team-form" data-url="<%= url_for([ operation_period, :mobile_teams ]) %>" data-reveal>
  <a class="close-reveal-modal">&#215;</a>
  <% unique_id = SecureRandom.hex(16) %>
  <h3>Add New Mobile Team</h3>
  <div class="modal-body">
    <%= simple_fields_for "mobile_team" do |a| %>
      <%= a.input :name, required: false %>
      <%= a.input :level, required: false, collection: ["ALS", "BLS", "Non-Medical"] %>
      <%= a.input :type, required: false, collection: ["Foot", "Bike", "Gator/Cart", "Sag Wagon"] %>
      <%= a.input :aed, input_html: {value: 0}, required: false, label: "Number of AEDs" %>
      <%= a.input :location, required: false %>
      <%= a.input :organization_id,
      collection: OrganizationType.find_providers,
      label_method: :name,
      value_method: :id,
      include_blank: false,
      prompt: "Select a provider",
      label: "Provider", required: false,
      input_html: {class: "provider-select"} %>
      <%= a.input :contact_name, required: false, label: 'Planning Contact Name', wrapper_html: { class: "provider-information" } %>
      <%= a.input :contact_phone, required: false, label: 'Planning Contact Phone', wrapper_html: { class: "provider-information" } %>
      <%= a.input :planning_contact_email, required: false, label: 'Planning Contact Email', wrapper_html: { class: "provider-information" } %>
    <% end %>
  </div>
  <div class="modal-footer">
    <a class="button secondary right close-reveal-modal" style="position: relative; font-weight: normal; font-size: inherit;">Close</a>
    <%= link_to "Confirm This Asset", "javascript:void(0)", class: "save-mobile-team button primary save-modal" %>
  </div>
  <script>
  $(document).ready(function(){
    $('#mobile_team_organization_id').chosen({
      width: "100%",
      enable_split_word_search: true,
      search_contains: true
    });
  })
  </script>
</div>

