<li class="tab-title <%= "active" if count == 1 %> operation-period-tab-<%= period.id %>">
  <a href="#panel<%= count %>">
    <div class="small-3 small-centered columns"><i class="fi-calendar"></i></div>
    <%= period.formatted_start_date %>&nbsp;<%= period.formatted_start_time %>
  </a>
</li>

