<%= simple_fields_for "operation_periods[id][#{count}]" do |op| %>
  <% if count == 1 %>
    <div class="content active" id="panel<%= count %>">
  <% else %>
    <div class="content" id="panel<%= count %>">
  <% end %>
    <div class="row">
      <div class="small-2 columns input_label">
      <%= op.label :start_date, class: "inline", label: "START" %>
      </div>
      <div class="small-4 columns end">
        <%= op.input_field :start_date, label: false, placeholder: "Date", class: "dateSelect" %>
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns input_label">
      <%= op.label :end_date, class: "inline", label: "END" %>
      </div>
      <div class="small-4 columns end">
        <%= op.input_field :end_date, label: false, placeholder: "Date", class: "dateSelect" %>
      </div>
    </div>        
    <div class="row">
      <div class="small-2 columns input_label">
        <%= op.label :attendance, class: "inline" do %>
         Crowd Size
        <% end %>
      </div>
      <div class="small-4 columns end">
        <%= op.input :attendance, label: false %>
      </div>
    </div>
    <fieldset>
      <legend>FIRST AID STATIONS</legend>
        <table id="first_aid_table">
          <thead>
            <th>Name</th>
            <th>Location</th>
            <th>Lvl</th>
            <th>MDs</th>
            <th>RNs</th>
            <th>EMTs</th>
            <th>AEDs</th>
            <th>Provider</th>
            <th>Contact Name</th>
            <th>Contact Phone</th>
          </thead>
          <tbody>
          </tbody>
        </table> 
          <%= link_to add_first_aid_station_path("operation_periods[id][#{count}]"), remote: true, class: "button primary tiny radius", id: "new_first_aid_station"  do %> 
          <i class="fi-plus"></i> ADD FIRST AID STATION
        <% end %>
    </fieldset>
    <fieldset>
      <legend>MOBILE TEAMS</legend>
        <table id="mobile_team_table">
          <thead>
            <th>Name</th>
            <th>Location</th>
            <th>Level</th>
            <th>AEDs</th>
            <th>Provider</th>
            <th>Contact Name</th>
            <th>Contact Phone</th>
          </thead>
          <tbody>
          </tbody>
        </table>  
        <%= link_to add_mobile_team_path("operation_periods[id][#{count}]"), remote: true, class: "button primary tiny radius", id: "new_mobile_team"  do %> 
          <i class="fi-plus"></i> ADD MOBILE TEAM
        <% end %>
    </fieldset>
    <fieldset>
      <legend>TRANSPORT</legend>
        <table id="transport_table">
          <thead>
            <th>Name</th>
            <th>Location</th>
            <th>Provider</th>
            <th>Contact Name</th>
            <th>Contact Phone</th>
          </thead>
          <tbody>
          </tbody>
        </table>  
        <%= link_to add_transport_path("operation_periods[id][#{count}]"), remote: true, class: "button primary tiny radius", id: "new_transport"  do %> 
          <i class="fi-plus"></i> ADD TRANSPORT
        <% end %> 
    </fieldset>
    <fieldset>
      <legend>DISPATCH</legend>
        <table id="dispatch_table">
          <thead>
            <th>Name</th>
            <th>Provider</th>
            <th>Contact Name</th>
            <th>Contact Phone</th>
          </thead>
          <tbody>
          </tbody>
        </table> 
        <%= link_to add_dispatch_path("operation_periods[id][#{count}]"), remote: true, class: "button primary tiny radius", id: "new_dispatch"  do %> 
          <i class="fi-plus"></i> ADD DISPATCH
        <% end %>  
    </fieldset>
  </div>
<% end %>