
<% if count == 1 %>
  <div class="content active" id="panel<%= count %>">
<% else %>
    <div class="content" id="panel<%= count %>">
<% end %>


<%= op.input_field :id, as: :hidden %>
<div class="row">
  <div class="small-2 columns input_label">
    <%= op.label :start_date, class: "inline", label: "START" %>
  </div>
  <div class="small-4 columns">
    <%= op.object.start_date.strftime("%D %r") %>
  </div>
  <div class="large-4 columns">
    <%= render 'comment_form', plan: @plan, title: "#{op.object.id}_start_date" %>
  </div>
</div>
<div class="row">
  <div class="small-2 columns input_label">
    <%= op.label :end_date, class: "inline", label: "END" %>
  </div>
  <div class="small-4 columns">
    <%= op.object.end_date.strftime("%D %r") %>
  </div>
  <div class="large-4 columns">
    <%= render 'comment_form', plan: @plan, title: "#{op.object.id}_end_date" %>
  </div>
</div>        
<div class="row">
  <div class="small-2 columns input_label">
    <%= op.label :attendance, class: "inline" do %>
      Crowd Size
    <% end %>
  </div>
  <div class="small-4 columns">
    <%= op.input :attendance, label: false, input_html: { id: "#{op.object.id}_attendance"} %>
  </div>
  <div class="large-4 columns">
    <%= render 'comment_form', plan: @plan, title: "#{op.object.id}_attendance" %>
  </div>
</div>
<div class="row">
  <div class="large-9 columns">
    <fieldset>
      <div class="row">
        <legend>FIRST AID STATIONS</legend>
        <table id="first_aid_table">
          <thead>
            <th>Name</th>
            <th>Location</th>
            <th width="75">Level</th>
            <th>MDs</th>
            <th>RNs</th>
            <th>EMTs</th>
            <th>AEDs</th>
            <th>Provider</th>
            <th>Contact Name</th>
            <th>Contact Phone</th>
          </thead>
          <tbody>
            <%= render 'first_aid_stations_show', op: op %>
          </tbody>
        </table>

        <div class="large-12 columns">
          <a id="new_first_aid_station" class="button primary tiny radius" href="#" data-reveal-id="new-first-aid-station"><i class="fi-plus"></i>&nbsp;ADD FIRST AID STATION</a>
          <%= render partial: 'new_first_aid_station', :locals => { :operation => "operation_periods[id][#{count}]", :operation_period_index => count - 1 } %>
        </div>  
      </div>
    </fieldset>
  </div>
  <div class="large-3 columns right end">
    <%= render 'comment_form', plan: @plan, title: "#{op.object.id}_first_aid_stations" %>
  </div>          
</div>
<div class="row">
  <div class="large-9 columns">
    <fieldset>
      <legend>MOBILE TEAMS</legend>
      <div class="row">          
        <table id="mobile_team_table">
          <thead>
            <th>Name</th>
            <th>Location</th>
            <th width="75">Level</th>
            <th width="75">Type</th>
            <th>AEDs</th>
            <th>Provider</th>
            <th>Contact Name</th>
            <th>Contact Phone</th>
          </thead>
          <tbody>
            <%= render 'mobile_team_show', op: op %>
          </tbody>
        </table> 
        <div class="large-12 columns"> 
          <%= link_to add_mobile_team_path(op.object.id), remote: true, class: "button primary tiny radius", id: "new_mobile_team"  do %> 
            <i class="fi-plus"></i> ADD MOBILE TEAM
          <% end %>
        </div>
      </div> 
    </fieldset>
  </div>  
  <div class="large-3 columns right end">
    <%= render 'comment_form', plan: @plan, title: "#{op.object.id}_mobile_teams" %>
  </div>
</div>

<div class="row">
  <div class="large-9 columns">
    <fieldset>
      <div class="row">              
        <legend>TRANSPORT</legend>
        <%= simple_fields_for :transports do |t| %>
          <table id="transport_table">
            <thead>
              <th>Name</th>
              <th>Location</th>
              <th>Provider</th>
              <th>Contact Name</th>
              <th>Contact Phone</th>
            </thead>
            <tbody>
              <%= render 'transport_show', op: op %>
            </tbody>
          </table>
          <div class="large-12 columns"> 
            <%= link_to add_transport_path(op.object.id), remote: true, class: "button primary tiny radius", id: "new_transport"  do %> 
              <i class="fi-plus"></i> ADD TRANSPORT
            <% end %>
          </div> 
        <% end %>
      </div>
    </fieldset>
  </div>
  <div class="large-3 columns right end">
    <%= render 'comment_form', plan: @plan, title: "#{op.object.id}_transport" %>
  </div>
</div>   
<div class="row">
  <div class="large-9 columns">            
    <fieldset>
      <div class="row">              
        <legend>DISPATCH</legend>
        <%= simple_fields_for :dispatchs do |d| %>
          <table id="dispatch_table">
            <thead>
              <th>Name</th>
              <th>Provider</th>
              <th>Contact Name</th>
              <th>Contact Phone</th>
            </thead>
            <tbody>
              <%= render 'dispatch_show', op: op %>
            </tbody>
          </table>
          <div class="large-12 columns"> 
            <%= link_to add_dispatch_path(op.object.id), remote: true, class: "button primary tiny radius", id: "new_dispatch"  do %> 
              <i class="fi-plus"></i> ADD DISPATCH
            <% end %> 
          </div>
        <% end %>
      </div>
    </fieldset>
  </div>
  <div class="large-3 columns right end">
    <%= render 'comment_form', plan: @plan, title: "#{op.object.id}_dispatch" %>
  </div>          
</div>
    </div>
