<%= plan_form.simple_fields_for :operation_periods do |op| %>
  <% if count == 1 %>
    <div class="content active" id="panel<%= count %>">
  <% else %>
    <div class="content" id="panel<%= count %>">
  <% end %>
    <div class="row">
      <div class="small-2 columns input_label">
      <%= op.label :start_date, class: "inline", label: "START" %>
      </div>
      <div class="small-4 columns end">
        <%= op.input_field :start_date, label: false, placeholder: "Date", as: "string", class: "dateSelect" %>
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns input_label">
      <%= op.label :end_date, class: "inline", label: "END" %>
      </div>
      <div class="small-4 columns end">
        <%= op.input_field :end_date, label: false, placeholder: "Date", as: "string", class: "dateSelect" %>
      </div>
    </div>        
    <div class="row">
      <div class="small-2 columns input_label">
        <%= op.label :attendance, class: "inline" do %>
         Crowd Size
        <% end %>
      </div>
      <div class="small-4 columns end">
        <%= op.input :attendance, label: false %>
      </div>
    </div>
  </div>
<% end %>
