<div class="row plan-state">
  <div class="large-8 columns">
    <ul class="breadcrumb">
      <li><a href="javascript:void(0);" class="review <%= @plan.draft? ? 'active' : 'none' %>">Draft</a></li>
      <li><a href="javascript:void(0);" class="review <%= @plan.under_review? ? 'active' : 'none' %>">Under Review</a></li>
      <li><a href="javascript:void(0);" class="review <%= @plan.revision_requested? ? 'active' : 'none' %>">Revision Requested</a></li>
      <li><a href="javascript:void(0);" class="review <%= @plan.approved? ? 'active' : 'none' %> approved">Approved</a></li>
    </ul>    
  </div> 

  <% if can? :manage, PostEventTreatmentReport %>
    <div class="large-4 columns"> 
      <ul class="button-group radius">
        <li><a href="javascript:void(0);" class="button tiny contact-list">Contact List</a></li>
        <li><%= link_to "Post Event Treatment Report", [ @plan, :post_event_treatment_report ], class: "button tiny post-event-treatment-report" %>
      </ul>
    </div>         
  <% end %>
</div>

