<% if (can? :edit, parent) && !SupplementaryDocument.admin_override?(parent.supplementary_documents) %>
  <% if current_user.is_admin? %>
    <%= link_to [ :new, parent, :supplementary_document, staff: true, override: true ], class: "button tiny radius warning", remote: true do %>
      <i class="fi-prohibited"></i> Override Staff List</a>
    <% end %>
  <% end %>
  <% if parent.supplementary_documents.staff_contact.present? %>
    <% parent.supplementary_documents.staff_contact.each do |doc| %>
      <div class="supplementary-document small-12 columns" id="supplementary-document-<%= doc.id %>">
        <h4>
          <%= doc.name %>
        </h4>
        <p>
          <%= simple_format doc.description %>
        </p>
        <p>
          <%= link_to "View", doc.file.url, target: "_blank" %>
          <% if can? :edit, doc.parent %>
            &middot;
            <%= link_to "Remove", doc, method: "DELETE", remote: true, data: { confirm: "Are you sure you want to remove this document?" } %>
          <% end %>
        </p>
      </div>
    <% end %>
    <%= link_to [ :new, parent, :supplementary_document, staff: true ], class: "button tiny radius", remote: true do %>
      <i class="fi-plus"></i> ADD STAFF CONTACT LIST</a>
    <% end %>
  <% else %>
    <%= link_to [ :new, parent, :supplementary_document, staff: true ], class: "button tiny radius", remote: true do %>
      <i class="fi-plus"></i> ADD STAFF CONTACT LIST</a>
    <% end %>
  <% end %>
<% end %>
