<%= op.simple_fields_for :transport do |f| %>
<tr class="more">
  <td><%= f.input :name, required: false %></td>
  <td><%= f.input :level, required: false %></td>
  <td><%= f.input :provider_id,
                    collection: Provider.all,
                    label_method: :name,
                    value_method: :id,
                    include_blank: false,
                    prompt: "Select a provider",
                    label: "Provider", required: false %></td>
  <td><%= f.input :contact_name, required: false %></td>
  <td><%= f.input :contact_phone, required: false %></td>
</tr>
<% end %>
