<%= op.simple_fields_for :transports do |a| %>
<tr>
  <td><%= a.input :name, required: false, label: false %></td>
  <td><%= a.input :provider_id,
                    collection: Provider.all,
                    label_method: :name,
                    value_method: :id,
                    include_blank: false,
                    prompt: "Select a provider",
                    required: false, label: false %>
    <%= a.object.try(:provider_confirmation) %>
  </td>
  <td><%= a.input :contact_name, required: false, label: false %></td>
  <td><%= a.input :contact_phone, required: false, label: false %></td>
  <td><%= a.input :_destroy, as: :boolean, label: "Remove" %></td>
</tr>
<% end %>
