<div class="row">
  <div class="large-12 columns pageTitle with-margin">
    <h1>New Plan</h1>
  </div>
</div>
<div class="row">
  <div class="large-12 columns plan_form new_plan">
    <%= simple_form_for @plan do |f| %>

      <div class="row">
        <div class="small-3 columns input_label">
          <%= f.label :name, class: "inline", label: "Event Name" %>
        </div>
        <div class="small-5 columns end">
          <%= f.input :name, label: false %>
        </div>
      </div>
      <div class="row">
        <div class="small-3 columns input_label">
          <%= f.label :event_type, class: "inline" %>
        </div>
        <div class="small-5 columns end">
          <%= f.association :event_type, options_for_event_type_select %>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <p>You can also make a copy of any existing approved plans. <%= link_to "Head back to the archive to search.", plans_path %></p>
        </div>
      </div>

      <div class="large-12 columns text-center actions plan-action">
        <%= f.submit "Continue", class: "button large radius" %>
      </div>

    <% end %>
  </div>
</div>

<script>
$(document).ready(function() {
  $('#plan_event_type_id').chosen({
    width: "100%",
    enable_split_word_search: true,
    search_contains: true
  });
});
</script>
