<%= simple_form_for [@plan] do |f| %>
<div class="row">
  <div class="large-10 columns pageTitle">
    <h1><%= @plan.name %> </h1>
  </div>
</div>
<div class="row">
  <div class="large-4 columns">
    <p>Plan approved on: <%= @plan.approval_date.strftime("%D %l:%M %P") %></p>
  </div>
  <div class="large-3 large-offset-4 columns">
    <% if can? :read, :admin_only_items %>
      <%= link_to "Email Approval Notification", send_approved_plan_plan_path(@plan), class: "button tiny", method: :post %>
    <% end %>
  </div>
  <div class="large-1 columns end">
    <%= link_to "Print", plan_path(@plan, format: :pdf), class: "button tiny" %>
  </div>
</div>
  <%= render "plans/plan_state" %>
  <div class="large-12 columns plan_form">
    <div class="row">
      <div class="large-4 columns card">
        <h4>Event Plan Creator</h4>
        <% if @plan.creator.present? %>
          <div><i class="fi-torso"></i> <%= @plan.creator.name %></div>
          <div><i class="fi-mail"></i> <%= @plan.creator.email %></div>
          <div><i class="fi-telephone"></i> <%= @plan.creator.phone_number %></div>
        <% else %>
          <div>Contact information is missing!</div>
        <% end %>
      </div>
      <div class="large-4 columns card">
        <h4>Collaborators</h4>
         <% @plan.users.each do |u| %>
          <div class="row">
            <div class="small-9 columns">
              <div class="row">
                <div class="small-8 columns">
                  Email: <%= u.email %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
      <div class="row">
        <div class="small-3 columns input_label">
          <%= f.label :event_type, class: "inline" %>
        </div>
        <div class="small-5 columns">
          <%= @plan.event_type.name %>
        </div>
        <div class="large-4 columns end">
          <%= render 'comment_form', plan: @plan, title: "event_type" %>
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns input_label">
          <%= f.label :permitter, class: "inline", label: "Permitting Agency" %>
        </div>
        <div class="small-5 columns">
          <%= @plan.permitter.present? ? @plan.permitter.name : "No Permitter" %>
        </div>
        <div class="large-4 columns end">
          <%= render 'comment_form', plan: @plan, title: "permitter" %>
        </div>
      </div>
       <div class="row">
        <div class="small-3 columns input_label">
            <%= f.label :permitter, class: "inline", label: "Alcohol Present" %>
        </div>
        <div class="small-5 columns">
          <%= @plan.alcohol? ? "yes" : "no" %>
        </div>
        <div class="large-4 columns end">
          <%= render 'comment_form', plan: @plan, title: "alcohol" %>
        </div>
      </div>
      <hr/>

      <ul class="tabs" data-tab>
        <% @plan.operation_periods.each_with_index do |operation_period, index| %>
          <%= render 'operation_period_tabs', count: index+1, period: operation_period, f: f %>
        <% end %>
      </ul>
      <div class="tabs-content">
        <% @plan.operation_periods.each.with_index do |operation_period, index| %>
          <%= render 'operation_periods/operation_period', operation_period: operation_period, count: index+1, f: f %>
        <% end %>
      </div>
    </div>

    <%= render 'plan_agreement', f: f, plan: @plan %>
    <% if can? :manage, @plan %>
      <%= render "supplementary_documents/index", parent: @plan %>
    <% end %>

    <% end %>
  </div>
</div>
