<div class="reveal-modal" data-reveal>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  <h3>Add Supplementary Document</h3>
  <div class="modal-body">
    <div class="document-form js-form", data-url="<%= url_for [ plan, :supplementary_documents ] %>">
      <%= simple_fields_for :supplementary_document, SupplementaryDocument.new do |f| %>
        <%= f.input :name, as: :string %>
        <%= f.input :description %>
        <%= f.input :file_url, as: :file, label: "File", required: true %>
        <%= link_to "Save", "javascript:void(0);", class: "js-submit button tiny radius" %>
      <% end %>
    </div>
  </div>
</div>
